<%= form_for(@lab_material) do |f| %>
  <% if @lab_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_material.errors.count, "error") %> prohibited this lab_material from being saved:</h2>
      <% @lab_material.errors.full_messages.each do |msg| %>
      <%= msg %><br/>
      <% end %>
    </div>
  <% end %>

  <div class="field">
  <%materials=Material.all%>
  <%# if a lab is selected let it be as the selected value in the dropbox%>
  <%if @lab!=nil then%>
    <%@lab_material.lab_id=@lab.id
    materials=@materials if @materials!=nil%>
    
    <%end%>
    
     <%= f.label :lab_id %><br />
    <%=collection_select(:lab_material, :lab_id, Lab.all, :id, :name,{:prompt => true})%>
    
   
  </div>
  <div class="field">
    <%= f.label :material_id %><br />
    <%=collection_select(:lab_material, :material_id, materials, :id, :name, {:prompt => true})%>

  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :sort %><br />
    <%= f.text_field :sort, :value=>'0' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
