<% content_for :sidebar_head do %>
<h1>lab_materials</h1>
<%end%>
<% content_for :body do %>
<div class="head">Listing lab_materials</div>
 <div class="hr"></div>
 <div class="text-box">
    <div id="content-table">

<table>

 <caption >Lab_materials (<%= @lab_materials.count  %>)</caption>
  <thead>
  <tr>
    <th><%=link_to("Lab", :controller=>"lab_materials",:action=>"index", :sort_by=>"lab_id")%></th>
    <th><%=link_to("Material", :controller=>"lab_materials",:action=>"index", :sort_by=>"material_id")%></th>
    <th>Description</th>
    <th>Sort</th>
    <th></th>
  </tr>
</thead>


<% @lab_materials.each do |lab_material| %>
  <tr>
    <td><%= lab_material.lab.name if lab_material.lab!=nil %></td>
    <td><%= lab_material.material.name if lab_material.material!=nil%></td>
    <td><%= lab_material.description %></td>
    <td><%= lab_material.sort %></td>
    <td><%= link_to 'Show', lab_material, :class=> 'edit-button button' %><%= link_to 'Edit', edit_lab_material_path(lab_material),:class=> 'edit-button button' %><%= link_to 'Destroy', lab_material, :confirm => 'Are you sure?', :method => :delete, :class=> 'delete-button button'%></td>
  </tr>
<% end %>
</table>

<br />

</div>
 </div>
 
<%end%>

<% content_for :sidebar do %>
<li><%= link_to 'Add materials to lab', new_lab_material_path %></li>
<%end%>