<% content_for :body do %>
<div class="text-box round">
<p id="notice"><%= notice %></p>

<p>
  <b>Lab:</b>
  <%= @lab_material.lab_id %>
</p>

<p>
  <b>Material:</b>
  <%= @lab_material.material_id %>
</p>

<p>
  <b>Description:</b>
  <%= @lab_material.description %>
</p>

<p>
  <b>Sort:</b>
  <%= @lab_material.sort %>
</p>
</div>
<%end%>


<% content_for :sidebar do %>
<li><%= link_to 'Edit', edit_lab_material_path(@lab_material) %></li>
<li><%= link_to 'Back', lab_materials_path %></li>
<%end%>
<% content_for :sidebar_head do %>
<h1>lab_materials</h1>
<%end%>