<h3>Add users to '<%= @lab.name%>'</h3>
 
<%alphabet=[]%>
<%('a'..'z').each do |l|%>
  <%alphabet<<l%>
  <a href="#" onclick="$('.user_li').hide(); $('.letter_<%=l%>').show();"><%=l.upcase%></a> 
<%end%>
<a href="#" onclick="$('.user_li').hide(); $('.letter_').show();">other</a> 
<a href="#" onclick="$('.user_li').show();">all</a>
<%= form_for(@lab_user) do |f| %>
  <table>
    <tr>
      <td>
        <%= f.hidden_field :page, :value=>'bulk_add'%>
        <%= f.hidden_field :lab_id, :value=>@lab.id%>
        <%#collection_select(:lab_user, :lab_id, Lab.all, :id, :name)%>
      </td>
      <td>
        <ul>
          <%User.find(:all, :order=>'username').each do |u|%>
            <li class="user_li letter_<%=u.username[0,1] if alphabet.include? u.username[0,1]%>">
              <%# check_box_tag('users[]',u.id, :checked=>@users_in.include?(u))%> 
              <%= check_box_tag("users[]",u.id, @users_in.include?(u), :id=>u.username)%>
              <%=label_tag(u.username, u.username)%>
            </li>
          <%end%>
        </ul>
        <%#collection_select(:lab_user, :user_id, User.all, :id, :username)%>
      </td>
    </tr>
  </table>
  <%= f.submit "Add"%> 

<%end%>
 

<% content_for :sidebar_head do %>
  Choose lab
<%end%>

<% content_for :sidebar do %>
  <% Lab.all.each do |l|%>
    <li><%=link_to(l.name, :controller=>"lab_users", :action=>"add_users", :id=>l.id)%></li>
  <%end%>
<%end%>




