<h3>Add users to '<%= @lab.name%>' by selecting them</h3>
 
<%alphabet=[]%>
<%('a'..'z').each do |l|%>
  <%alphabet<<l%>
  <a href="#" onclick="show_names('<%=l%>');"><%=l.upcase%></a>
<%end%>
<a href="#" onclick="show_names('')">other</a>
<a href="#" onclick="show_names('*')">all</a>
<a href="#" onclick="show_names('checked');">selected</a>
<p>
<span class="button delete-button" onclick="manage_checked(false, 'Are you sure you want to unselect all users?');">Unselect all</span>
  <span class="button add-button" onclick="manage_checked(true ,'Are you sure you want to select all users?');">Select all</span>
</p>
<%= form_for(@lab_user) do |f| %>
  <table>
    <tr>
      <td>
        <%= f.hidden_field :page, :value=>'bulk_add'%>
        <%= f.hidden_field :lab_id, :value=>@lab.id%>
        <%#collection_select(:lab_user, :lab_id, Lab.all, :id, :name)%>
      </td>
      <td>
        <ul class="no-bullet">
          <%User.order('username').each do |u|%>
            <li class="user_li letter_<%=u.username[0,1].downcase if alphabet.include? u.username[0,1].downcase%>">
              <%# check_box_tag('users[]',u.id, :checked=>@users_in.include?(u))%> 
              <%= check_box_tag("users[]",u.id, @users_in.include?(u), :id=>u.username)%>
              <%=label_tag(u.username, u.username)%>
            </li>
          <%end%>
        </ul>
        <%#collection_select(:lab_user, :user_id, User.all, :id, :username)%>
      </td>
    </tr>
  </table>


  <%= f.submit "Update"%>

<%end%>
<h3>Or importing (users that dont exist will be created with token as the password!)</h3>
<p>NB! The expected file format is: <br/>
  username,real name,email,token<br/>
  username,real name,email,token</p>
<%= form_tag('/lab_users/import' , :multipart => true) do %>  
  <input type="file" id="examsendbutton" name="txtsbs"/><br/>
  <input type="hidden" name="lab_id" value="<%= @lab.id%>"/>
  <input type="submit" value="import">
  
<% end %>
<% content_for :sidebar_head do %>
  Choose lab
<%end%>

<% content_for :sidebar do %>
  <% Lab.all.each do |l|%>
    <% classes="" #default
       classes= "bold" if l.id==@lab.id %>
    <li class="<%= classes %>"><%=link_to(l.name, :controller=>"lab_users", :action=>"add_users", :id=>l.id)%></li>
  <%end%>
<%end%>




