
<h3>Listing users in labs</h3>
<div id="index_t">
  <table>
    <thead>
      <tr>
        <th><%=link_to("Lab", :controller=>"lab_users",:action=>"index", :sort_by=>"lab_id", :dir=>@dir)%></th>
        <th><%=link_to("User", :controller=>"lab_users",:action=>"index", :sort_by=>"user_id", :dir=>@dir)%></th>
        <th>Progress</th>
        <th>Result</th>
        <th><%=link_to("Start", :controller=>"lab_users",:action=>"index", :sort_by=>"start", :dir=>@dir)%></th>
        <th><%=link_to("End", :controller=>"lab_users",:action=>"index", :sort_by=>"end", :dir=>@dir)%></th>
        <th></th> 
        <th></th>
      </tr>
    </thead>

    <% @lab_users.each do |lab_user| %>
      <tr>
        <td><%= link_to lab_user.lab.name, my_labs_path+"/"+lab_user.lab.id.to_s+"/"+lab_user.user.username  %></td>
        <td><%= lab_user.user.username %></td>
        <td><%= lab_user.progress %></td>
        <td><%= lab_user.result %></td>
        <td><span title="<%= lab_user.start %>"><%= distance_of_time_in_words(Time.now, lab_user.start.to_time )+" ago" if lab_user.start %></span>
        </td>
        <td><span title="<%= lab_user.end %>"><%= distance_of_time_in_words(Time.now, lab_user.end.to_time )+" ago" if lab_user.end %></span>
        </td>
        <td><%= link_to('Start lab',start_lab_path+"/"+lab_user.lab.id.to_s+"/"+lab_user.user.username , :class=>'submit-button button') if lab_user.start==nil %><%= link_to('Restart lab',restart_lab_path+"/"+lab_user.lab.id.to_s+"/"+lab_user.user.username, :class=>'add-button button', :confirm => "This will delete all saved data. Are you sure?") if lab_user.start %><%= link_to('End lab', end_lab_path+"/"+lab_user.id.to_s, :class=>'delete-button button', :confirm => "This will delete all saved data. Are you sure?" ) if lab_user.start && !lab_user.end %></td>
        <td><%= link_to 'Edit', edit_lab_user_path(lab_user) ,:class=> 'edit-button button'%><%= link_to 'Destroy', lab_user, :confirm => 'Are you sure?', :method => :delete,:class=> 'delete-button button' %></td>
      </tr>
    <% end %>
  </table>
  
  <%= will_paginate @lab_users %><div class="page_info"><%= page_entries_info @lab_users %></div>
</div>
<%= form_for(@lab_user) do |f| %>
  <% if @lab_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_user.errors.count, "error") %> prohibited this lab_user from being saved:</h2>
      <ul>
        <% @lab_user.errors.full_messages.each do |msg| %>
          <%= msg %><br/>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td>
        <%=collection_select(:lab_user, :lab_id, Lab.all, :id, :name,{:prompt => true})%>
      </td>
      <td>
        <%=collection_select(:lab_user, :user_id, User.find(:all, :order=>'username'), :id, :username, {:prompt => true})%>
      </td>
      <td><%= f.submit "Add"%> </td>
    </tr>
  </table>
<%end%>
 
