

  
  

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<%= devise_error_messages! %>
<div class="head">Token based authentication for <%= resource.username %></div>
  <p><%= f.label :token_authentication_key %><br />
	<%= resource.authentication_token.blank? ? "Token Empty" : resource.authentication_token %></p>
	 
	<p><%= link_to "Generate Token", token_authentications_path(:user_id => resource.id), :method => :post, :confirm => "Are you sure?"  %>
	<%# link_to "Delete Token", token_authentication_path(resource), :method => :delete, :confirm => "Are you sure?"  %></p>
	 
	<% if resource.authentication_token %>
	  <p>You can use this url to login<br />
    <% host=request.host
        host=host+":3000" if host="localhost"%>
	  <%= link_to "#{host}#{root_path(:auth_token => resource.authentication_token)}", root_path(:auth_token => resource.authentication_token)  %></p>
	<% end %>
  
<% end %>


  </div>





