<%= form_for(@operating_system) do |f| %>
  <% if @operating_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operating_system.errors.count, 'error') %> prohibited this operating_system from being saved:</h2>
      <% @operating_system.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </div>
  <div class="field">
    <%= f.label :connection_help %><br />
    <%= f.text_area :connection_help %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
