<h3>Listing operating systems</h3>
<div id="index_t">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Icon</th>
        <th>Connection help</th>
        <th></th>
      </tr>
    </thead>  
    <% @operating_systems.each do |operating_system| %>
      <tr>
        <td><%= operating_system.name %></td>
        <td><%= operating_system.icon %></td>
        <td><%= operating_system.connection_help %></td>
        <td><%= link_to 'Show', operating_system , :class=>"button show-button"%><%= link_to 'Edit', edit_operating_system_path(operating_system), :class=>"button edit-button" %><%= link_to 'Destroy', operating_system, :confirm => 'Are you sure?', :method => :delete, :class=>"button delete-button" %></td>
      </tr>
    <% end %>
  </table>
   <%= will_paginate @operating_systems %><div class="page_info"><%= page_entries_info @operating_systems %></div>
</div>

