<%= form_for(@assistant) do |f| %>
  <% if @assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
      <% @assistant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.select :version, options_for_select([["VTA 2015", "v1"], ["VTA 2017", "v2"]], f.object.version),{include_blank: "choose version"},{} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
