<h1>Listing assistants</h1>
<div id="index_t">
<table>
  <tr>
    <th>Uri</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assistants.each do |assistant| %>
  <tr>
    <td><%= assistant.uri %></td>
    <td><%= assistant.enabled %></td>
    <td><%= link_to 'Show', assistant %></td>
    <td><%= link_to 'Edit', edit_assistant_path(assistant) %></td>
    <td><%= link_to 'Destroy', assistant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Assistant', new_assistant_path %>
