<%= form_for(@lab_vmt) do |f| %>
  <% if @lab_vmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_vmt.errors.count, "error") %> prohibited this lab_vmt from being saved:</h2>

      <% @lab_vmt.errors.full_messages.each do |msg| %>
      <%= msg %><br/>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
     <%@lab_vmt.lab_id=@lab.id if @lab!=nil%>
   
    <%# f.text_field :lab_id %>
     <%= f.label :lab_id %><br />
    <%=collection_select(:lab_vmt, :lab_id, Lab.all, :id, :name,{:prompt => true})%>
    
    
  </div>
  <div class="field">
    <%= f.label :vmt_id %><br />
    <%# f.text_field :vmt_id %>
    <%=collection_select(:lab_vmt, :vmt_id, Vmt.all, :id, :image,{:prompt => true})%>
  </div>
  <div class="actions">
    <%= submit_tag "Cancel" , :class=>"cancel"%>  <%= f.submit %>
  </div>
<% end %>
