<%= form_for(@lab_vmt) do |f| %>
  <% if @lab_vmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_vmt.errors.count, "error") %> prohibited this lab_vmt from being saved:</h2>

      <% @lab_vmt.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> (unique name, used for file name generation)<br />
    <%= f.text_field :name %> <span class="red" title="Required field">*</span>
  </div>
    <div class="field">
      <%= f.label :nickname %> (short, descriptive name shown to the user)<br />
      <%= f.text_field :nickname %> <span class="red" title="Required field">*</span>
    </div>
  <div class="field">
    <% @lab_vmt.lab_id=@lab.id if @lab!=nil%>
    <%= f.label :lab_id %><br />
    <%= collection_select(:lab_vmt, :lab_id, Lab.all, :id, :name,{:prompt => true})%> <span class="red" title="Required field">*</span>
  </div>
  <div class="field">
    <%= f.label :vmt_id %><br />
    <%=collection_select(:lab_vmt, :vmt_id, Vmt.all, :id, :image,{:prompt => true})%> <span class="red" title="Required field">*</span>
  </div>
    <div class="field">
      <%= f.label :allow_remote %><br />
      <%= f.check_box :allow_remote %>
    </div>
  <div class="actions">
    <%= submit_tag "Cancel" , :class=>"cancel"%>  <%= f.submit %>
  </div>
<% end %>
