<h3>Listing virtual machine templates in labs</h3>
<div id="index_t">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th><%=link_to("Lab", :controller=>"lab_vmts",:action=>"index", :sort_by=>"lab_id", :dir=>@dir)%></th>
        <th><%=link_to("Vmt", :controller=>"lab_vmts",:action=>"index", :sort_by=>"vmt_id", :dir=>@dir)%></th>
        <th>Remote access</th>
        <th></th>   
      </tr>
    </thead>

    <% @lab_vmts.each do |lab_vmt| %>
      <tr class="vmt">
        <td><%= lab_vmt.name %></td>
        <td><%= lab_vmt.lab.name %></td>
        <td><%= lab_vmt.vmt.image %></td>
        <td><%= lab_vmt.allow_remote ? 'yes' : 'no' %></td>
        <td><%= link_to 'Edit', edit_lab_vmt_path(lab_vmt),:class=> 'edit-button button' %><%= link_to 'Destroy', lab_vmt, :confirm => 'Are you sure?', :method => :delete ,:class=> 'delete-button button'%></td>
      </tr>
    <% end %>
  </table>
   <%= will_paginate @lab_vmts %><div class="page_info"><%= page_entries_info @lab_vmts %></div>
</div>

<%= form_for(@lab_vmt) do |f| %>
 <% if @lab_vmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_vmt.errors.count, "error") %> prohibited this machine template from being saved for the lab:</h2>
      <% @lab_vmt.errors.full_messages.each do |msg| %>
        <%= msg %> <br/>
      <% end %>      
    </div>
  <% end %>
  <table>
    <tr>
      <td>  <%= f.text_field :name , :title=>"Name for the template in this lab. Alphanumeric with no spaces."%> <%= hidden_field_tag "from", "lab_vmts/index"%></td>
      <td>
        <%=collection_select(:lab_vmt, :lab_id, Lab.all, :id, :name,{:prompt => "Select lab"})%>
      </td>
      <td>
        <%=collection_select(:lab_vmt, :vmt_id, Vmt.all, :id, :image,{:prompt => "Select VM template"})%>
      </td>
      <td><%= f.label :allow_remote %> <%= f.check_box :allow_remote %></td>
      <td><%= f.submit "Add"%> </td>
    </tr>
  </table>
<%end%>
