
<% content_for :sidebar_head do %>
  VMT in labs
<% end %>
<% content_for :sidebar do %>
     <% if @admin then %>
      <li><%= link_to 'Edit', edit_lab_vmt_path(@vmt) %></li>
      <%end%>
    <li><%= link_to 'Back', lab_vmts_path %></li>
<% end %>

<% content_for :body do %>
<div class="text-box round">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lab_vmt.name %>
</p>

<p>
  <b>Lab:</b>
  <%= @lab_vmt.lab_id %>
</p>

<p>
  <b>Vmt:</b>
  <%= @lab_vmt.vmt_id %>
</p>

</div>
<%end%>