<h1>Listing networks</h1>
<div id="index_t">
  <table>
   <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
  </tr>
  </thead>

<% @networks.each do |network| %>
  <tr>
    <td><%= network.name %></td>
    <td><%=network.net_type %></td>
    <td class="narrow">
      <%#= link_to 'Show', network, :class=>"show-button button" %>
      <%= link_to 'Edit', edit_network_path(network), :class=>'edit-button button' %>
      <%= link_to 'Destroy', network, confirm: 'Are you sure?', method: :delete, :class=>'delete-button button' %>
    </td>
  </tr>
<% end %>
</table>
  </div>


<%= render 'form', network: @network %>
