<h3>Listing user_badges</h3>
<div id="index_t">
<table>
     <thead>
  <tr>
    <th>User</th>
    <th>Lab badge</th>
    <th></th>
   
  </tr>
   </thead>
<% @user_badges.each do |user_badge| %>
  <tr>
    <td><%= user_badge.user.username %></td>
    <td><%= user_badge.lab_badge.name %></td>
    <td><%= link_to 'Show', user_badge , :class=> 'show-button button'%><%= link_to 'Edit', edit_user_badge_path(user_badge), :class=> 'edit-button button' %><%= link_to 'Destroy', user_badge, :confirm => 'Are you sure?', :method => :delete, :class=> 'delete-button button' %></td>
  </tr>
<% end %>
</table>

</div>

<%= link_to 'New User badge', new_user_badge_path %>
