<h1>Listing user_badges</h1>

<table>
  <tr>
    <th>User</th>
    <th>Lab badge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_badges.each do |user_badge| %>
  <tr>
    <td><%= user_badge.user_id %></td>
    <td><%= user_badge.lab_badge_id %></td>
    <td><%= link_to 'Show', user_badge %></td>
    <td><%= link_to 'Edit', edit_user_badge_path(user_badge) %></td>
    <td><%= link_to 'Destroy', user_badge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User badge', new_user_badge_path %>
