<% content_for :body do %>
<div class="head">Listing Virtual Machine templates</div>
 <div class="hr"></div>
 <div class="text-box">
    <div id="content-table">
<table>
   <caption >Templates (<%= @vmts.count  %>)</caption>
  <thead>
    <tr>
    <th>Image</th>
    <th>Xml script</th>
    <th>Private key</th>
    <th></th>
   
  </tr>
</thead>



<% @vmts.each do |vmt| %>
  <tr>
    <td><%= vmt.image %></td>
    <td><%= vmt.xml_script %></td>
    <td><%= vmt.private %></td>
    <td><%= link_to 'Show', vmt,:class=> 'edit-button button' %><%= link_to 'Edit', edit_vmt_path(vmt),:class=> 'edit-button button' %><%= link_to 'Destroy', vmt, :confirm => 'Are you sure?', :method => :delete ,:class=> 'delete-button button'%></td>
  </tr>
<% end %>
</table>
<%end%>
<% content_for :sidebar_head do %>
Virtual Machine Templates
  <%end%>
<% content_for :sidebar do %>
<li><%= link_to 'New VMT', new_vmt_path %></li>
<li><%= link_to 'VMTs in labs', lab_vmts_path %></li>

<%end%>


