<h3>Listing Server hosts</h3>
<div id="index_t">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <!-- <th>Publickey</th>
        <th>Privatekey</th>
        <th>Ram</th>
        <th>Cpu cores</th>
        <th>Hdd</th>-->
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @hosts.each do |host| %>
        <tr>
          <td><%= host.name %></td>
          <td><%= host.ip %></td>
          <!--  <td><%#= truncate(host.publickey, :length => 10) %></td>
          <td><%#= truncate(host.privatekey, :length => 10) %></td>
          <td><%#= host.ram %></td>
          <td><%#= host.cpu_cores %></td>
          <td><%#= host.hdd %></td>-->
          <td><%= host.priority %></td>
          <td class="narrow">
            <%= link_to 'View', host, :class=> 'show-button button' %>
            <%= link_to 'Edit', edit_host_path(host), :class=> 'edit-button button' %>
            <%= link_to 'Destroy', host, :confirm => 'Are you sure?', :method => :delete, :class=> 'delete-button button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <%= will_paginate @hosts %><div class="page_info"><%= page_entries_info @hosts %></div>
</div>
<br/>
<%= link_to 'New Host', new_host_path , :class=> 'add-button button' %>