<h1>Listing hosts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ip</th>
    <th>Publickey</th>
    <th>Privatekey</th>
    <th>Ram</th>
    <th>Cpu cores</th>
    <th>Hdd</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.name %></td>
    <td><%= host.ip %></td>
    <td><%= host.publickey %></td>
    <td><%= host.privatekey %></td>
    <td><%= host.ram %></td>
    <td><%= host.cpu_cores %></td>
    <td><%= host.hdd %></td>
    <td><%= host.priority %></td>
    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Host', new_host_path %> <%= link_to('home', :controller=>'home', :action=>'index')%>
