<%  content_for :javascript do %>
<script>
function getJSON(url, data, callback) {
  // shift arguments if data argument was ommited
  if ( jQuery.isFunction( data ) ) {
    callback = data;
    data = null;
  }

  return jQuery.ajax({
    type: "GET",
    url: url,
    cache: false,
    data: data,
    success: callback,
    dataType: "json"
  });
}

function getDetails(id){
  var url = "<%= url_for :controller => 'hosts', :action => 'getInstanceJSON' %>";

  getJSON(url, {id: id}, function(data) {
    var innerHtml = '<div class="head">Instance Details</div><div class="text-box text-small">';
    
    innerHtml += '<p><span class="bold">Id:</span> '+ data.aws_instance_id +'</p>' +
      '<p><span class="bold">Kernel:</span> '+ data.aws_kernel_id +'</p>' +
      '<p><span class="bold">Ramdisk:</span> '+ data.aws_ramdisk_id +'</p>' +
      '<p><span class="bold">Image:</span> '+ data.aws_image_id +'</p>' +
      '<p><span class="bold">Zone:</span> '+ data.aws_instance_id +'</p>' +
      '<p><span class="bold">Owner:</span> '+ data.aws_owner +'</p>' +
      '<p><span class="bold">Type:</span> '+ data.aws_instance_type +'</p>' +
      '<p><span class="bold">Ip:</span> '+ data.dns_name +'</p>' +
      '<p><span class="bold">State:</span> '+ data.aws_state +'</p>' +
      '<p><span class="bold">Launch Time:</span> '+ data.aws_launch_time +'</p>';

    innerHtml += '</div>';
    innerHtml += '<div class="buttons"><a href="" class="cancel-button">Close</a></div>';

    $('#basic-modal-content').empty().append(innerHtml);
  });
}

$(document).ready(function(){
  $(".addInstance").click(function(){
      var imagesUrl = "<%= url_for :controller => 'hosts', :action => 'getImagesJSON' %>";
      var imageSelect = '';
      getJSON(imagesUrl, function(data) {
        $('#images').empty();
        if(data){
          for ( var i in data ){
            imageSelect += '<option>' + data[i].aws_id + '</option>';
            $('#image').append(imageSelect);
          }
        } else {
          alert("error");
        }
      });

      var usersUrl = "<%= url_for :controller => 'hosts', :action => 'getUsersJSON' %>";
      var usersSelect = '';
      getJSON(usersUrl, function(data) {
        $('#user').empty();
        if(data){
          for ( var i in data ){
            usersSelect += '<option>' + data[i].aws_id + '</option>';
            $('#user').append(usersSelect);
          }
        } else {
          alert("error");
        }
      });

      var instanceForm = '<div class="text-box"><%= form_tag(action="/run", :method=>'post') do %>' +
      '<p> Select user:<br />' +
      '<%= select_tag("user", options_for_select([['', '1']], '1'),{ :size =>3, :style => "width:150px"}) %>' +
      '</p>' +
      '<p> Select image: <br />' +
      '<%= select_tag("image", options_for_select([['', '1']], '1'),{ :size =>3, :style => "width:150px"}) %>' +
      '</p>' +
      '<p>' +
      '<%= submit_tag 'Run' %>' +
      '</p>' +
      '<% end %>' +
      '</div>';

      $('#basic-modal-content').empty().append(instanceForm);

      $('#basic-modal-content').modal({persist:true, onClose: function (dialog) {
          $('#basic-modal-content').empty().append("Loading ..");
          $.modal.close();
      }});
  });

  $(".killAllInstances").click(function(){
    alert("Kill all instances");
  });  

  // use mousedown for event order priority: 1. mousedown, 2. mouseup, 3. click
  $(".action-button").mousedown( function() {
    var state = $(this).parent().parent().find('.state').html();
    if(state == 'Terminated' || state == 'Shutting-down'){
      // example: disableContextMenuItems('#cut,#copy');
      $('#instanceActionMenu').disableContextMenuItems('#terminate');
    } else {
      // null overload enables all
      $('#instanceActionMenu').enableContextMenuItems();
    }
  });

  $(".action-button").contextMenu({
    menu: 'instanceActionMenu'
  },
  function(action, el, pos) {
    if(action == "details"){
      getDetails($(el).parent().parent().find('.id').html());
      $('#basic-modal-content').modal({persist:true, onClose: function (dialog) {
          $('#basic-modal-content').empty().append("Loading ..");
          $.modal.close();
      }});
    } else if (action == "terminate"){
      var url = "/terminate/" + $(el).parent().parent().find('.id').html();
      $(location).attr('href',url);
    }
  });
});
</script>
<% end %>

<% content_for :sidebar_head do %>
  Administration
<% end %>

<% content_for :sidebar do %>
  <li><%= link_to('Instance Management', :controller=>'hosts', :action=>'instances')%></li>
  <li><%= link_to('Virtual Machines', :controller=>'hosts', :action=>'machines')%></li>
<% end %>

<% content_for :body do %>
  <div class="head">Instance Management</div>
  <div class="hr"></div>
  <div class="text-box">
      <div class="buttons">
        <a href="#" class="add-button addInstance">Add</a>
        <a href="#" class="cancel-button killAllInstances">Kill</a>
      </div>
      <br />

      <div id="content-table">
      <table>
        <caption>Virtual Machine Instances (<%= @instances.count %>)</caption>
        <thead>
        <tr>
          <th>Instance id</th>
          <th>Ip</th>
          <th>Launch time</th>
          <th>State</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @instances.each do |instance| %>
          <tr>
            <td class="id"><%= instance[:aws_instance_id] %></td>
            <td><%= instance[:dns_name] %></td>
            <td><%= Time.parse(instance[:aws_launch_time]) %></td>
            <td class="state"><%= instance[:aws_state].capitalize %></td>
            <td><div class="action-button"></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

 <ul id="instanceActionMenu" class="contextMenu">
    <li class="details">
        <a href="#details">Details</a>
    </li>
    <li class="terminate separator">
        <a href="#terminate">Terminate</a>
    </li>
</ul>

<div id="basic-modal-content">Loading ..</div>

<% end %>
