<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @host.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @host.ip %>
</p>

<p>
  <b>Publickey:</b>
  <%= @host.publickey %>
</p>

<p>
  <b>Privatekey:</b>
  <%= @host.privatekey %>
</p>

<p>
  <b>Ram:</b>
  <%= @host.ram %>
</p>

<p>
  <b>Cpu cores:</b>
  <%= @host.cpu_cores %>
</p>

<p>
  <b>Hdd:</b>
  <%= @host.hdd %>
</p>

<p>
  <b>Priority:</b>
  <%= @host.priority %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
