<%= form_for(@vm) do |f| %>
  <% if @vm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vm.errors.count, "error") %> prohibited this vm from being saved:</h2>

      <ul>
      <% @vm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lab_vmt_id %><br />
    <%# f.text_field :template_id %>
    <%=collection_select(:vm, :lab_vmt_id, @templates, :id, :menustr)%>
       <%#TODO add list of templates here? %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%# f.text_field :user_id %>
    <%=collection_select(:vm, :user_id, User.all, :id, :username)%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
