<%= form_for(@vm) do |f| %>
  <% if @vm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vm.errors.count, 'error') %> prohibited this vm from being saved:</h2>
      <% @vm.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>  
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %> <span class="red" title="Required field">*</span>
  </div>
  <div class="field">
    <%= f.label :lab_vmt_id %><br />
    <%=collection_select(:vm, :lab_vmt_id,LabVmt.all, :id, :menustr,{:prompt => true})%> 
    <span class="red" title="Required field">*</span>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%=collection_select(:vm, :user_id, User.all, :id, :username,{:prompt => true})%> 
    <span class="red" title="Required field">*</span>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
     <%= submit_tag 'Cancel' , :class=>'cancel'%> <%= f.submit %>
  </div>
<% end %>
