<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'iteelogo.png' %>
	<title><%= @vm ? @vm.nickname : params[:name]%></title>
  <%= stylesheet_link_tag 'guacamole-view' %>
</head>
<body>
<div id="wrapper" class="<%= !@readonly ? 'sidebar' : '' %>">
  <div id="holder">
  	
  </div>
  <div id="hider">
    
  </div>
</div>
<% if !@readonly %>
  
  <div id="filler" onclick="toggle_menu(event, 'open');"></div>
  <ul id="menu" onclick="toggle_menu(event, 'open');">
    <li id="clipboard">
      <textarea id="clip" placeholder="Text to copy" onchange="changeClip(event)"></textarea>
      <button onclick="send2clip(event)">Copy to VM</button>
      <textarea id="inside" placeholder="VM clipboard contents" readonly></textarea>
    </li>
    <li class="action" onclick="releaseControlKeys(event)">Release stuck keys</li>
    <li class="action" onclick="sendControlAltDelete(event)">Ctrl+Alt+Del</li>
    <li class="action">
      <%= link_to('Reset RDP', rdp_reset_path+'/'+@vm.id.to_s, data: { turbolinks: false }) if @vm %>
      <%= link_to "reset RDP", "/manage_vm/reset_rdp/#{params[:name]}" unless @vm %>
    </li>
  </ul>
<% end # if readonly%>
<script type="text/javascript">
  var token = '<%= @token %>';
  var ws_host = '<%= @ws_host %>';
</script>
<%= javascript_include_tag "guacamole-common.min.js"  %>
<%= javascript_include_tag "guacamole-connect.js"  %>
<%= javascript_include_tag "guacamole-interact.js" if !@readonly  %>

</body>
</html>
