<% content_for :body do %>
<div class="head">Listing Virtual Machines</div>
 <div class="hr"></div>
 <div class="text-box">
    <div id="content-table">
<table>
   <caption >Server hosts (<%= @vms.count  %>)</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Template</th>
    <th>Lab</th
    <th>User</th>
    <th>Description</th>
    <th>IP</th>
    <th></th>
   
  </tr>
</thead>
<% @vms.each do |vm| %>
 
  <tr>
    <td><%= vm.name %></td>
    <td><%= vm.lab_vmt.name%> </td>
    <td><%= vm.lab_vmt.lab.name%> </td>
    <td><%= vm.user.username %></td>
    <td><%= vm.description %></td>
    <td><%= vm.mac.ip if vm.mac!=nil %></td>
    <td><%= link_to 'Show', vm,:class=> 'edit-button button' %><%= link_to 'Edit', edit_vm_path(vm),:class=> 'edit-button button' if @admin%><%= link_to 'Destroy', vm, :confirm => 'Are you sure?', :method => :delete,:class=> 'delete-button button' %></td>
  </tr>
  
 
<% end %>
</table>

 </div>
  </div>

<% end %>
<% content_for :sidebar_head do %>
Virtual Machines
  <%end%>
<% content_for :sidebar do %>
<%#tavakasutaja ei saa endale masinaid juurde tekitada!%>
<%#TODO: lingid näiteks näitamaks ainult aktiivseid masinaid, mitteaktiivseid masinaid etc%>
 
 <% if @admin then %>
<li><%= link_to 'New VM', new_vm_path %></li>
<%end%>

<%end%>



