<%=@a%>
<h3>Listing <span class="specify">all</span> virtual machines<span class="inlab"></span></h3>
<div id="index_t">
<table>
   <caption >Virtual machines (<%= @vms.count  %>)</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Template</th>
    <th>Lab</th>
    <th>User</th>
 
    <th>IP</th>
    <th>state</th>
    <th></th>
   
  </tr>
</thead>
<% @vms.each do |vm| %>
 <%state=vm.state %>

  <tr class="vm <%if state=="running" || state=="paused" then%>  <%=state%>  <%else%><%state="error: no such vm"%>
    uninit<%end%> lab<%= vm.lab_vmt.lab.id%>">
    <td><%= vm.name %> pw: <%=vm.password%></td>
    <td><%= vm.lab_vmt.name%> </td>
    <td><%= vm.lab_vmt.lab.name%> </td>
    <td><%= vm.user.username %></td>
   
    <td><%= vm.mac.ip if vm.mac!=nil %></td>
    <td>
    <%="("+state+")" if vm.mac!=nil%>
  
  <span class="loader">
    <%= link_to('Start',start_vm_path+"/"+vm.id.to_s, :class=>"button start-button") if (state!="running" && state!="paused") || vm.mac==nil%>
    <%= link_to('Pause', pause_vm_path+"/"+vm.id.to_s, :class=>'button pause-button') if state=="running" && vm.mac!=nil %>
    <%= link_to('Resume',resume_vm_path+"/"+vm.id.to_s, :class=>'button start-button') if state=="paused" && vm.mac!=nil%>
    <%= link_to('Stop',stop_vm_path+"/"+vm.id.to_s, :class=>"button stop-button") if state=="running" && vm.mac!=nil%>
  </span>
  
  
  </td>
  <%#no delete button, because there is no need to delete the row, it will be deleted either by 
  compleating the lab or when the user is removed from the lab%>
  <% desc="Initialize the virtual machine by clicking <strong>Start</strong>."
desc=vm.description if (state=="running" || state=="paused") && vm.mac!=nil%>
  <td><span class="button info-button" onclick="$('#notice').html('<%=desc%>');$('#notice').show();">Info</span><%if state=="running" && vm.mac!=nil then%><a href="<%=root_path+':8'+vm.mac.ip.split('.')[3] if vm.mac!=nil%>" title="Login" target='_blank' class="button login-button">Login</a><%end%><%= link_to 'Edit', edit_vm_path(vm),:class=> 'edit-button button' if @admin && @tab=="admin"%><%= link_to 'Destroy', vm, :confirm => 'Are you sure?', :method => :delete,:class=> 'delete-button button' if @admin && @tab=="admin"%></td>
  </tr>
  
 
<% end %>
</table>
</div>
<span class="startall"></span>

<% content_for :sidebar_head do %>
<% if @b_by=='state' then%>Choose state<%end%><%if @b_by=="lab" then%>Choose lab<%end%>
<%end%>

<% content_for :sidebar do %>
  <%#TODO mingi parameetri järgi peab tegema kinldaks, mis menüü siia esitada%>
  <% if @b_by=='state' then%>
<li><a href="#" onclick="$('.vm').show(); $('span.specify').text('all');">All machines</a></li>
<li><a href="#" onclick="$('.vm').hide(); $('.running').show(); $('span.specify').text('running');">Running machines</a></li>
<li><a href="#" onclick="$('.vm').hide(); $('.paused').show(); $('span.specify').text('paused');">Paused machines</a></li>
<li><a href="#" onclick="$('.vm').hide(); $('.uninit').show();$('span.specify').text('uninitialized');">Uninitialized machines</a></li>
<%end%>
<% if @b_by=='lab' then%>
<li><a href="#" onclick="$('.vm').show(); $('span.specify').text('all'); $('span.startall').html('');">All labs</a></li>
<% @labs.each do |l| %>
  <span class="hidden<%=l.id%>" style="display:none;"><%=link_to('Start all machines',start_all_path+"/"+l.id.to_s, :class=>"button start-button")%></span>
<li><a href="#" onclick="$('.vm').hide(); $('.lab<%=l.id%>').show();$('span.startall').html($('span.hidden<%=l.id%>').html()); $('span.specify').text('');$('span.inlab').text(' in <%=l.name%>');">
  <%=l.name%></a></li>
<%end%>
<%end%>

 
<%end%>






