<h3>Listing virtual machines</h3>
<div id="index_t">
<table>
   <caption >Virtual machines (<%= @vms.count  %>)</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Template</th>
    <th>Lab</th>
    <th>User</th>
 
    <th>IP</th>
    <th>state</th>
    <th></th>
   
  </tr>
</thead>
<% @vms.each do |vm| %>
 <%state=vm.state %>

  <tr class="vm <%if state=="running" || state=="paused" then%>  <%=state%>  <%else%><%state="error: no such vm"%>
    uninit<%end%> lab<%= vm.lab_vmt.lab.id%>">
    <td><%= vm.name %></td>
    <td><%= vm.lab_vmt.name%> </td>
    <td><%= vm.lab_vmt.lab.name%> </td>
    <td><%= vm.user.username %></td>
   
    <td><%= vm.mac.ip if vm.mac!=nil %></td>
    <td>
    '<%=state%>'
    <%= link_to('Start', :action=>'start_vm', :id=>vm.id) if state!="running" && state!="paused"%>
    <%= link_to('Pause', :action=>'pause_vm', :id=>vm.id) if state=="running"  %>
    <%= link_to('Resume', :action=>'resume_vm', :id=>vm.id) if state=="paused"%>
    <%= link_to('Stop', :action=>'stop_vm', :id=>vm.id) if state=="running"%>  
  </td>
  <%#no delete button, because there is no need to delete the row, it will be deleted either by 
  compleating the lab or when the user is removed from the lab%>
  <td><span class="button info-button" onclick="$('#notice').html('<%=vm.description%>');$('#notice').show(); ">Info</span><%= link_to 'Edit', edit_vm_path(vm),:class=> 'edit-button button' if @admin && @tab=="admin"%><%= link_to 'Destroy', vm, :confirm => 'Are you sure?', :method => :delete,:class=> 'delete-button button' if @admin && @tab=="admin"%></td>
  </tr>
  
 
<% end %>
</table>
</div>

<% content_for :sidebar_head do %>
<% if @b_by=='state' then%>Choose state<%end%><%if @b_by=="lab" then%>Choose lab<%end%>
<%end%>

<% content_for :sidebar do %>
  <%#TODO mingi parameetri järgi peab tegema kinldaks, mis menüü siia esitada%>
  <% if @b_by=='state' then%>
<li><a href="#" onclick="$('.vm').show();">All machines</a></li>
<li><a href="#" onclick="$('.vm').hide(); $('.running').show();">Running machines</a></li>
<li><a href="#" onclick="$('.vm').hide(); $('.paused').show();">Paused machines</a></li>
<li><a href="#" onclick="$('.vm').hide(); $('.uninit').show();">Uninitialized machines</a></li>
<%end%>
<% if @b_by=='lab' then%>
<li><a href="#" onclick="$('.vm').show();">All labs</a></li>
<% @labs.each do |l| %>
  <li><a href="#" onclick="$('.vm').hide(); $('.lab<%=l.id%>').show();"><%=l.name%></a></li>
<%end%>
<%end%>

 
<%end%>






