<% content_for :body do %>
<div class="head">Listing VMs</div>
 <div class="hr"></div>
 <div class="text-box">
    <div id="content-table">
<table>
   <caption >Server hosts (<%= @vms.count  %>)</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Lab</th>
    <th>Ram</th>
    <th>Hdd</th>
    <th>Nic count</th>
    <th></th>
   
  </tr>
</thead>
<% @vms.each do |vm| %>
  <tr>
    <td><%= vm.name %></td>
    <td><%= vm.image_id %></td>
    <td><%= vm.lab_id %></td>
    <td><%= vm.ram %></td>
    <td><%= vm.hdd %></td>
    <td><%= vm.nic_count %></td>
    <td><%= link_to 'Show', vm,:class=> 'edit-button button' %><%= link_to 'Edit', edit_vm_path(vm),:class=> 'edit-button button' %><%= link_to 'Destroy', vm, :confirm => 'Are you sure?', :method => :delete,:class=> 'delete-button button' %></td>
  </tr>
<% end %>
</table>

 </div>
  </div>

<% end %>
<% content_for :sidebar_head do %>
VM
  <%end%>
<% content_for :sidebar do %>
<li><%= link_to 'New VM', new_vm_path %>
</li>
<%end%>



