<h1>Listing vms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Lab</th>
    <th>Ram</th>
    <th>Hdd</th>
    <th>Nic count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vms.each do |vm| %>
  <tr>
    <td><%= vm.name %></td>
    <td><%= vm.image_id %></td>
    <td><%= vm.lab_id %></td>
    <td><%= vm.ram %></td>
    <td><%= vm.hdd %></td>
    <td><%= vm.nic_count %></td>
    <td><%= link_to 'Show', vm %></td>
    <td><%= link_to 'Edit', edit_vm_path(vm) %></td>
    <td><%= link_to 'Destroy', vm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vm', new_vm_path %>

