Your IP address is <%= @client_ip %>  <br/>
AG IP address is <%= @remote_ip %> <br/>

<br/>
<p>
the ip the test was run on:<%= @target_ip%>
</p><p>
your progress input:<br/><%= raw @progress%>
</p>

<p>vm.name: <%= @vm.name if @vm!=nil%></p>