<p>
  <b>Name:</b>
  <%= @vm.name %>
</p>

<p>
  <b>Template:</b>
  <%= @vm.lab_vmt.name %>
</p>

<p>
  <b>Lab:</b>
  <%= @vm.lab_vmt.lab.name %>
</p>

<p>
  <b>IP:</b>
  <%= @vm.mac.ip if @vm.mac!=nil%>
</p>

<p>
  <b>Mac:</b>
  <%= @vm.mac.mac if @vm.mac!=nil %>
</p>

<p>
  <b>User:</b>
  <%= @vm.user.username %>
</p>

<p>
  <b>Description:</b>
  <%= @vm.description %>
</p>

