<p><b>Name:</b>
  <%= @vm.name %>
</p>

<p><b>Password:</b>
  <%= @vm.password %>
</p>

<p><b>Template:</b>
  <%= @vm.lab_vmt.name %>
</p>

<p><b>Lab:</b>
  <%= @vm.lab_vmt.lab.name %>
</p>

<p><b>User:</b>
  <%= @vm.user.username %>
</p>

<p><b>Description:</b>
  <%= @vm.description %>
</p>
<%= link_to 'Edit Virtual machine', edit_lab_path(@vm), :class=>'button edit-button' if @admin%>
