<p><b>Name:</b>
  <%= @vm.name %>
</p>

<p><b>Password:</b>
  <%= @vm.password %>
</p>

<p><b>Template:</b>
  <%= @vm.lab_vmt.name %>
</p>

<p><b>Lab:</b>
  <%= @vm.lab_vmt.lab.name %>
</p>

<p><b>User:</b>
  <%= @vm.lab_user.user.username %>
</p>

<p><b>Description:</b>
  <%= @vm.description %>
</p>
