<% content_for :sidebar_head do %>
  Virtual Machines
<% end %>


<% content_for :sidebar do %>
     <% if @admin then %>
      <li><%= link_to 'Edit', edit_vm_path(@host) %></li>
      <%end%>
    <li><%= link_to 'Back', vms_path %></li>
<% end %>

<% content_for :body do %>
<div class="text-box round">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vm.name %>
</p>

<p>
  <b>Image:</b>
  <%= @vm.image_id %>
</p>

<p>
  <b>Lab:</b>
  <%= @vm.lab_id %>
</p>

<p>
  <b>Ram:</b>
  <%= @vm.ram %>
</p>

<p>
  <b>Hdd:</b>
  <%= @vm.hdd %>
</p>

<p>
  <b>Nic count:</b>
  <%= @vm.nic_count %>
</p>


</div> 
<% end %>
