

<% content_for :sidebar_head do %>
  Virtual Machines
<% end %>


<% content_for :sidebar do %>
     <% if @admin then %>
      <li><%= link_to 'Edit', edit_vm_path(@host) %></li>
      <%end%>
    <li><%= link_to 'Back', vms_path %></li>
<% end %>

<% content_for :body do %>
<div class="text-box round">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vm.name %>
</p>

<p>
  <b>Template:</b>
  <%= @vm.lab_vmt.name %>
</p>

<p>
  <b>Lab:</b>
  <%= @vm.lab_vmt.lab.name %>
</p>

<p>
  <b>IP:</b>
  <%= @vm.mac.ip if @vm.mac!=nil%>
</p>

<p>
  <b>Mac:</b>
  <%= @vm.mac.mac if @vm.mac!=nil %>
</p>

<p>
  <b>User:</b>
  <%= @vm.user.username %>
</p>

<p>
  <b>Description:</b>
  <%= @vm.description %>
</p>
</div> 
<% end %>
