
<p>
  <strong>Controller:</strong>
  <%= @lab_vmt_storage.controller %>
</p>

<p>
  <strong>Port:</strong>
  <%= @lab_vmt_storage.port %>
</p>

<p>
  <strong>Device:</strong>
  <%= @lab_vmt_storage.device %>
</p>
<p>
  <strong>Mount:</strong>
  <%= @lab_vmt_storage.mount %>
</p>

<%= link_to 'Edit', edit_lab_vmt_storage_path(@lab_vmt_storage) %> |
<%= link_to 'Back', lab_vmt_storages_path %>
