<% content_for :sidebar_head do %>
  <% if @admin %>
  Dashboard
  <%else%>
  Vali labor
  <%end%>
  
<% end %>

<% content_for :sidebar do %>
  <% if @admin %>
    <li><%=link_to('index', root_path)%></li>
    <li><%=link_to('Template guide', template_path)%></li>
    <li><%=link_to('System guide', system_path)%></li>
  <%else%>
Something useful
<%end%>
    
<% end %>


<% content_for :body do %>
  <div class="head">Home View</div>
  <div class="hr"></div>
  <div class="text-box round">

    

    <% if @admin %>
      <div id="adminmenu">
        <p>Sa oled administraator</p>
        
        <p>Emulated virtualization environment: <%= ITee::Application.config.emulate_virtualization %></p>
        <p>Emulated ldap environment: <%= ITee::Application.config.emulate_ldap %></p>
        
      </div>
    <%else%>
      <div id="usermenu">
        Siia tuleb abiinfo, mis räägib i-tee keskkonna kasutamisest
      </div>
    <%end%>
  </div>

<% end %>