<p> This is a guide to user permissions in the server, to help admins set up the system.</p>

<p><%=AppVersion::APP_VERSION.chomp%></p>
<p><%=AppVersion::PLATFORM_INFO%></p>

<p>
  Number of virtual machines total: <%= Virtualbox.all_machines.length %><br/>
  Number of running virtual machines: <%= Virtualbox.running_machines.length %></p>
  Memory information [GB]<hr>
  <pre><%=%x(free -g)%></pre>
  Disk information<hr>
  <pre><%=%x(df -h)%></pre>

