<p> This is a guide to user permissions in the server, to help admins set up the system.</p>

<p><%=AppVersion::APP_VERSION.chomp + '-' + AppVersion::GIT_REVISION%></p>
<p><%=AppVersion::PLATFORM_INFO%></p>


<p>Passenger info:</p>
<p>
  <%output=%x(/var/www/railsapps/i-tee/utils/info.sh 2>&1)
    group=output.split(' ')[3]
    user= output.split(' ')[2]
    user='nobody' if user=='root'%>
    user: <%= user%><br/>
  group: <%= group%>
</p>
<p>
  Number of virtual machines total: <%=%x(sudo -u vbox /usr/bin/VBoxManage list vms|wc -l)%><br/>
  Number of running virtual machines: <%=%x(sudo -u vbox /usr/bin/VBoxManage list runningvms|wc -l)%></p>
  Memory information [GB]<hr>
  <pre><%=%x(free -g)%></pre>
  Disk information<hr>
  <pre><%=%x(df -h)%></pre>

