<h1>Listing lab_badges</h1>

<table>
  <tr>
    <th>Lab</th>
    <th>Badge</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lab_badges.each do |lab_badge| %>
  <tr>
    <td><%= lab_badge.lab_id %></td>
    <td><%= lab_badge.badge_id %></td>
    <td><%= lab_badge.name %></td>
    <td><%= link_to 'Show', lab_badge %></td>
    <td><%= link_to 'Edit', edit_lab_badge_path(lab_badge) %></td>
    <td><%= link_to 'Destroy', lab_badge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lab badge', new_lab_badge_path %>
