<h3>RPD master password</h3>
<p> <%= current_user.rdp_password=='' ? 'You dont currently have a RDP master password' : "Your current RDP password is: #{current_user.rdp_password} " %></p>
<p>
<%= form_tag('/rdp_password', method: 'post') do %>
	<%= submit_tag 'Set new password', :confirm => 'Are you sure?'%>
<% end %>

</p>

<%= form_tag('/rdp_password', method: 'delete') do %>
	<%= submit_tag 'Remove password', :confirm => 'Are you sure?'%>
<% end %>