<h3>RPD master password</h3>



<%= form_tag('/rdp_admin', method: 'post') do %>
	<%= submit_tag 'Set global password to all machines', :confirm => 'Are you sure?'%>
<% end %>



<%= form_tag('/rdp_admin', method: 'post') do %>
	<%= hidden_field '', 'global', value: 'yes' %>
	<%= submit_tag 'Set global password to all machines not belonging to users', :confirm => 'Are you sure?'%>
<% end %>

