<h3>Listing virtual machine templates</h3>
<%= form_tag('/manage_vm', method: 'post') do %>
<div id="index_t">
  <table>
    <thead>
      <tr>
      	<th style="width:1%; white-space: nowrap;"><label><%= check_box_tag 'toggle','', false,  :onclick=>'toggle_checked_all(this);', :id=>'toggle_u'  %><span> all</span></label></th>
        <th>Name</th>
        <th>State</th>
        <th>Since</th>
        <th>Allow RDP</th>
        <th>Active Port / range</th>
        <th>RDP</th>
        <th>Connect</th>
        <th>Snapshot</th>
        <th></th>
      </tr>
    </thead>
    <% @vms.each do |vm| %>
      <tr class="found">
      	<td><%= check_box_tag 'names[]', vm['name'] , false, :id=>"id_#{vm['name']}" %></td>
        <td><%= link_to vm['name'], "/vm_details/#{vm['name']}" %></td>
        <td><%= vm['VMState'] %></td>
        <td><%= vm['VMStateChangeTime'].to_time %></td>
        <td><%= vm['vrde'] ? vm['vrde'] : '-disabled-' %></td>
        <td>
        	<%= vm['vrdeport'].to_i >0 ? vm['vrdeport'] : '-none-' %>
        	 / 
        	<%= vm['vrdeports'].to_i >0 ? vm['vrdeports'] : '-none-' %>
        	
        </td>
        <td><%= vm['VRDEActiveConnection'] if vm['VRDEActiveConnection'] %></td>
        <td>
        	<% if vm['VMState']=='running' %>
                <div class="remote_connections">
                    <span onclick="toggleOtherOsButtons(this)" class="showtoggle">&lt; more</span>
                    <span class="button win-button Windows" onclick="show_remote(this, '<strong><%=Virtualbox.remote('win', vm['vrdeport'], current_user)%></strong>')">Windows</span>
                    <span class="button mac-button MacOS" onclick="show_remote(this, '<strong><%=Virtualbox.remote('mac',vm['vrdeport'], current_user)%></strong>')">Mac</span>
                    <span class="button rdesktop-button Linux UNIX" onclick="show_remote(this, '<strong><%=Virtualbox.remote('rdesktop',vm['vrdeport'], current_user)%></strong>')">Linux (rdesktop)</span>
                    <span class="button xfreerdp-button Linux UNIX" onclick="show_remote(this, '<strong><%=Virtualbox.remote('xfreerdp',vm['vrdeport'], current_user)%></strong>')">Linux (xfreerdp)</span>

                  <div escape="false" class="remote copyMe">
                    <div class="parentheight hidden"><div class="helptext ">Click to copy</div></div>
                    <div class="commands copy">Choose a remote connection type from above</div>
                  </div>
                </div>
            <% end %>

        </td>
        <td><%= vm['CurrentSnapshotName'] ? vm['CurrentSnapshotName'] : '-none-' %></td>
        <td>
        	<%= link_to "start", "/manage_vm/start/#{vm['name']}" if vm['VMState']!='running' %>
        	<%= link_to "stop", "/manage_vm/stop/#{vm['name']}" if vm['VMState']=='running'%>
        </td>
      </tr>
    <% end %>
  </table>
 
</div>
<%= submit_tag('start', name:'do') %>
<%= submit_tag('stop', name:'do') %>

<% end %>