<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%# f.text_area :source %>
      <%# model, method, size%>
      
      <%= ckeditor_textarea(:material, :source, :width => '100%', :height => '200px') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
