<% content_for :sidebar_head do %>
  Materials
<% end %>


<% content_for :sidebar do %>
    <li><%= link_to 'Edit', edit_material_path(@material) %></li>
    <li><%= link_to 'Back', materials_path %></li>
<% end %>

<% content_for :body do %>
<div class="text-box round">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @material.name %>
</p>

<p>
  <b>Source:</b>
  <%= @material.source %>
</p>

</div>
<%end%>