<% content_for :sidebar_head do %>
  Materials
<% end %>


<% content_for :sidebar do %>
   <% if @admin then %>
  <li><%= link_to 'Edit', edit_material_path(@material) %></li>
    <li><%= link_to 'Back to materials', materials_path %></li>
   
    <%if params[:lab] != nil%>
      <li><%=link_to('Back to lab', :controller=>'labs', :action=>'show', :id=>params[:lab]) %></li>
    <%end%>
     <%end%>
    <li> <%=link_to('Back', :back )%></li>
      
<% end %>

<% content_for :body do %>
<div class="text-box round">

<p id="notice"><%= notice %></p>

<h1>
  
  <%= @material.name %>
</h1>
<br/>

  <%= raw @material.source %>
  

</div>
<%end%>