<%= form_for(@lab) do |f| %>
  <% if @lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab.errors.count, "error") %> prohibited this lab from being saved:</h2>
      <% @lab.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %> <span class="red" title="Required field">*</span>
  </div>
  <div class="field">
    <%= f.label :short_description %> <span class="grey"><span id="charleft"></span> characters left</span><br />
    <%= f.text_area :short_description, :rows=>3, :cols=>100 %> <span class="red" title="Required field">*</span>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area( :description, :cols=>100, :height => '200px') %>
  </div>
   <div class="field">
    <%= f.label :host_id %><br />
    <%= f.select( :host_id,  options_from_collection_for_select(Host.all,:id, :name, @lab.host_id) ) %>
  </div>
  
  <div class="field">
    <%if @all_users then%><%#all users have this lab%>
      <%= check_box_tag("remove", '1')%>
      <%=label_tag("remove", "Remove all users")%>
    <%else%><%#some users might have this lab%>
      <%= check_box_tag("add", '1')%>
      <%=label_tag("add", "Add all users")%><br/>
      <%if @user_count>0 then%> <%#no need to show remove if there are no users%>
        <%= check_box_tag("remove", '1')%>
        <%=label_tag("remove", "Remove all users")%>
      <%end%>
    <%end%>
  </div>
  
  <div class="actions">
    <%= submit_tag "Cancel" , :class=>"cancel"%> <%= f.submit %>
  </div>
<% end %>

<% content_for :sidebar_head do %>
  Notes
<%end%>
  
<% content_for :sidebar do %>
  <p>To add a link to a material use the expression #M_<i>&lt;id&gt;</i></p>
  <p><b>Materials:</b><br/>
  <%Material.find(:all, :order=>'name').each do |m|%>
    <%=m.id%>. <%=m.name%><br/>
  <%end%>
  </p>
<%end%>