<%= form_for(@lab) do |f| %>
  <% if @lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab.errors.count, 'error') %> prohibited this lab from being saved:</h2>
      <% @lab.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> <span class="red" title="Required field">*</span><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_description %> <span class="grey"><span id="charleft"></span> characters left</span> <span class="red" title="Required field">*</span><br />
    <%= f.text_area :short_description, :rows=>3 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area( :description,  :rows => 20) %>
  </div>
    <fieldset><legend>Lab settings</legend>
   <div class="field">
    <%= f.label :host_id %><br />
    <%= f.select( :host_id,  options_from_collection_for_select(Host.all,:id, :name, @lab.host_id) ) %>
  </div>
      <div class="field">
        <%= f.check_box( :startAll)  %> <%= f.label :startAll ,'Start all machines with lab start' %>
      </div>
      <div class="field">
        <%= f.check_box( :vms_by_one)  %> <%= f.label :vms_by_one ,'Allow managing machines one-by-one' %>
      </div>
    <div class="field">
      <%= f.check_box( :restartable)  %><%= f.label :restartable %>
    </div>
      <div class="field">
        <%= f.check_box( :endable)  %><%= f.label :endable %>
      </div>
      <hr/>
    <div class="field">
      <%= f.label :poll_freq, 'Seconds to wait before checking vm RDP connection status again (0=no polling): ' %><br/>
      <%= f.text_field :poll_freq %>
    </div>
    <div class="field">
      <%= f.label :power_timeout, 'Seconds to wait before powering off all vms due to RDP inactivity (0=no stopping): ' %><br/>
      <%= f.text_field :power_timeout %>
    </div>
    <div class="field">
      <%= f.label :end_timeout, 'Seconds to wait before ending lab due to RDP inactivity (0=no ending): ' %><br/>
      <%= f.text_field :end_timeout %>
    </div>
    </fieldset>
    <fieldset><legend>User management</legend>
      <div class="field">
    <%if @all_users %><%#all users have this lab%>
      <%= check_box_tag('remove', '1')%>
      <%=label_tag('remove', 'Remove all users')%>
    <%else%><%#some users might have this lab%>
      <%= check_box_tag('add', '1')%>
      <%=label_tag('add', 'Add all users')%><br/>
      <%if @user_count>0%> <%#no need to show remove if there are no users%>
        <%= check_box_tag('remove', '1')%>
        <%=label_tag('remove', 'Remove all users')%>
      <%end%>
    <%end%>
  </div>
    </fieldset>
    <fieldset><legend>Lab assistant</legend>
      <div class="field">
        <%= f.label :assistant_id %><br />
        <%= f.select( :assistant_id,  options_from_collection_for_select(Assistant.all,:id, :uri, @lab.assistant_id) , {include_blank: "select assistant"} )%>
      </div>
      <div class="field">
        <%= f.label :lab_token, 'API token to be used with this lab' %><br/>
        <%= f.text_field :lab_token %>
      </div>
      <div class="field">
        <%= f.label :lab_hash, 'Lab id in assistant' %><br/>
        <%= f.text_field :lab_hash %>
      </div>

    </fieldset>
    <h3>Virtual machines in this lab</h3>
    <div id="lab_vmts">
    <%= f.fields_for :lab_vmts do |labVmt_form| %>
       <div class="vmt">
          <div class="right"> <%= labVmt_form.check_box :_destroy%>  <%= labVmt_form.label :_destroy, 'Remove' %></div>
          <%= labVmt_form.label :name %> <%= labVmt_form.text_field :name, :placeholder=>'unique. Alphanumeric with no spaces.' %><br/>
          <%= labVmt_form.label :nickname %> <%= labVmt_form.text_field :nickname, :placeholder=>'Name shown to user.' %><br/>
          <%= labVmt_form.label :vmt_id %> <%= labVmt_form.select :vmt_id, options_from_collection_for_select(Vmt.all, :id, :image, labVmt_form.object.vmt_id ), {:prompt => 'Select VM template'}%><br/>
          <%= labVmt_form.label :allow_remote %>  <%= labVmt_form.check_box :allow_remote %><br/>
          <%= labVmt_form.label :allow_restart %>  <%= labVmt_form.check_box :allow_restart %><br/>
          <%= labVmt_form.label :primary %>  <%= labVmt_form.check_box :primary %><br/>
          <div class="field">
            <%= labVmt_form.label :g_type, 'Guacamole connection' %>
            <%= labVmt_form.select :g_type, options_for_select({ :none=> 0, :rdp=>1, :vnc=>2, :ssh=>3}, labVmt_form.object.g_type ) %>
          </div>
          <%= labVmt_form.label :position %> <%= labVmt_form.number_field :position %>
          <div class="networks">
          <%= labVmt_form.fields_for :lab_vmt_networks do |labVmtNet_form| %>
              <div class="network">
                <%= labVmtNet_form.label :network_id %>
                <%= labVmtNet_form.select :network_id, options_from_collection_for_select(Network.all,:id, :name, labVmtNet_form.object.network_id), {:prompt => 'Select network template'}  %>
                <br />
                <%= labVmtNet_form.label :slot %> <%= labVmtNet_form.number_field :slot %><br/>

                <%= labVmtNet_form.check_box :promiscuous %> <%= labVmtNet_form.label :promiscuous %><br />

                <%= labVmtNet_form.check_box :reinit_mac %> <%= labVmtNet_form.label :reinit_mac %><br />
                <br/>
                <%= labVmtNet_form.check_box :_destroy%>  <%= labVmtNet_form.label :_destroy, 'Remove' %>
              </div>
          <%end%>
          </div>
          <span class="button add-button" onclick="add_network_to_vmt(this);">Add more networks</span>
       </div>
    <% end %>
      <%= select_tag :networks, options_from_collection_for_select(Network.all,:id, :name), {:prompt => 'Select network template', :style=>'display:none'}  %>
      <%= select_tag :vm_templates, options_from_collection_for_select(Vmt.all,:id, :image), {:prompt => 'Select VM template', :style=>'display:none'}  %>

    </div>
    <span class="button add-button" onclick="add_vmt_to_lab();">Add more VMTs</span>
    <h3>Badges in this lab</h3>
    <div id="badges">

    </div>
  <div class="actions">
    <%= submit_tag 'Cancel' , :class=>'cancel'%> <%= f.submit %>
  </div>
<% end %>

<% content_for :sidebar_head do %>
  Notes
<%end%>
  
<% content_for :sidebar do %>
  <p>To add a link to a material use the expression #M_<i>&lt;id&gt;</i></p>
  <p><b>Materials:</b><br/>
  <%Material.order('name').each do |m|%>
    <%=m.id%>. <%=m.name%><br/>
  <%end%>
  </p>
<%end%>
