<%if @labs!=[] then%>

<% content_for :sidebar do %> 
<% @labs.each do |lab| %>
    <li <%if @started.include?(lab) then%>
          class='started'
        <%else if @complete.include?(lab) %>
          class='ended'
            <%end%>
        <%end%>
        >
      <%= link_to(lab.name, :controller=>'labs', :action=>'courses', :id=>lab.id)%>
    </li>
  <% end %>
<%end%>  

<% content_for :sidebar_head do %>
  All labs
<%end%>


<h1><%=@lab.name %></h1>

    <%=link_M raw @lab.description %>
    <p>
<%if @labs!=[] then%>
  <%title="Start lab"%>
  <%path=running_courses_path%>
  <%clas="add-button button"%>
  <% if @started.include?(@lab) %>
    <% title='Continue lab' %>
    <%clas="submit-button button"%>
    <%end%>
 
  <% if @complete.include?(@lab) then%>
    <% title='View lab'  %>
    <% path=ended_courses_path%>
    <%clas="show-button button"%>
  <%end%>
  
  <%= link_to(title, path+"/"+@lab.id.to_s, :class=>clas) %>
  <%if title!='Start' then%>
    <%#if the lab is started or completed, one can reset it anytime%>
    <%= link_to('Restart lab',restart_lab_path+"/"+@lab.id.to_s, :class=>'add-button button')%>
    <%end%>
<%end%>
<%else%>
<h3>Sorry, you dont have any assigned courses.</h3>
<%end%></p>

