<%  content_for :javascript do %>
<script>
function getJSON(url, data, callback) {
  // shift arguments if data argument was ommited
  if ( jQuery.isFunction( data ) ) {
    callback = data;
    data = null;
  }

  return jQuery.ajax({
    type: "GET",
    url: url,
    cache: false,
    data: data,
    success: callback,
    dataType: "json"
  });
}

jQuery(document).ready(function() {

  $(".startCourse").click(function(){
    var startUrl = "<%= url_for :controller => 'labs', :action => 'startLabJSON' %>";

    getJSON(startUrl, function(data) {
      if(data){
        if(data != "ok"){
          alert(data) ;
        }
      }
    });

  });
      
});
</script>
<% end %>

<% content_for :sidebar_head do %>
  Course List
<% end %>

<% content_for :sidebar do %>
  <% @labs.each do |lab| %>
    <li><%= link_to(lab.name, :controller=>'labs', :action=>'courses', :id=>lab.id)%></li>
  <% end %>
<% end %>

<% content_for :body do %>
  <div class="head"><%=  @lab.name %></div>
  <div class="hr"></div>
  <div class="text-box">
    <%= raw @lab.description %>
    <br/>
    <h3>materials</h3>
    <%  @lab.lab_materials.sort! { |a,b| a.sort <=> b.sort }%>
    <% @lab.lab_materials.each do |material| %>
    <p><%=link_to(material.material.name, :controller=>'materials', :action=>'show', :id=>material.material)%> 
  <%# link_to('Destroy', material, :method => :delete) %>
</p> 
<%end%>
    
  </div>

<a class="add-button button startCourse">Start</a>
<% end %>
