<% content_for :sidebar do %> 
<% @labs.each do |lab| %>
    <li <%if @started.include?(lab) then%>
          class='started'
        <%else if @complete.include?(lab) %>
          class='ended'
            <%end%>
        <%end%>
        >
      <%= link_to(lab.name, :controller=>'labs', :action=>'courses', :id=>lab.id)%>
    </li>
  <% end %>
<%end%>  

<% content_for :sidebar_head do %>
  All courses
<%end%>
  
  <h1><%=@lab.name %></h1>
    <%=link_M raw @lab.description %>
<%if @labs!=[] then%>
  <%title="Start"%>
  <%path=running_courses_path%>
  <% title='Continue' if @started.include?(@lab) %>
  <% title='View' if @complete.include?(@lab) %>  
  <%path=ended_courses_path if @complete.include?(@lab)%>
  
  
  <%= link_to(title, path+"/"+@lab.id.to_s, :class=>'add-button button') %>
  <%if title!='Start' then%>
    <%#if the lab is started or completed, one can reset it anytime%>
    <%= link_to('Restart',restart_lab_path+"/"+@lab.id.to_s, :class=>'add-button button')%>
    <%end%>
<%end%>

