
<% content_for :sidebar_head do %>
  Course List
<% end %>

<% content_for :sidebar do %>
  <% @labs.each do |lab| %>
    <li <%if @started.include?(lab) then%>
          class='started'
        <%else if @complete.include?(lab) %>
          class='ended'
            <%end%>
        <%end%>
        >
      <%= link_to(lab.name, :controller=>'labs', :action=>'courses', :id=>lab.id)%>
    </li>
  <% end %>
<% end %>

<%if @allowed || @admin || @labs==[] then%>

<% content_for :body do %>
  <div class="head"><%if @labs==[] then%>
    No labs
    <%else%>
    <%=  @lab.name %>
    <%end%></div>
  <div class="hr"></div>
  <div class="text-box">
  <%if @labs==[] then%>
  You dont have any labs assigned!
    <%else%>
    
   
    <%= raw @lab.description %>
    <br/>
    <h3>materials</h3>
    <%  @lab.lab_materials.sort! { |a,b| a.sort <=> b.sort }%>
    <% @lab.lab_materials.each do |material| %>
    <p><%=link_to(material.material.name, :controller=>'materials', :action=>'show', :id=>material.material, :lab=>@lab)%> 
  <%# link_to('Destroy', material, :method => :delete) %>
</p> 
<%end%>
 <%end%>    
  </div>
<%if @labs!=[] then%>
  <%title="Start"%>
  <% title='Continue' if @started.include?(@lab) %>
  <% title='View' if @complete.include?(@lab) %>  
  
  <%= link_to(title,running_lab_path+"/"+@lab.id.to_s, :class=>'add-button button')%>
  <!-- <a class="add-button button startCourse">Start</a>-->
<%end%>

<% end %>
<%else%>
<%= render :partial => "shared/no_permission" %>
<%end%>
