<div id="index_t">
<table>
   <caption >Server hosts (<%= @labs.count  %>)</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
</thead>
<% @labs.each do |lab| %>
  <tr>
    <td><%= lab.name %></td>
    <td><%= lab.description %></td>
    <td><%= link_to 'Show', lab,:class=> 'edit-button button' %><%= link_to 'Edit', edit_lab_path(lab) ,:class=> 'edit-button button'%><%= link_to 'Destroy', lab, :confirm => 'Are you sure?', :method => :delete,:class=> 'delete-button button' %></td>
  </tr>
<% end %>
</table>

</div>