<h3>List labs or <%= link_to 'create a new lab', new_lab_path  %></h3>
<div id="index_t">
  <table>
    <thead>
      <tr>
        <th><%=link_to("Name", :controller=>"labs",:action=>"index", :sort_by=>"name", :dir=>@dir)%></th>
        <th>Short description</th>
        <th><%=link_to("Host", :controller=>"labs",:action=>"index", :sort_by=>"host_id", :dir=>@dir)%></th>
        <th class="narrow"><%=link_to("Restartable", :controller=>"labs",:action=>"index", :sort_by=>"restartable", :dir=>@dir)%></th>
        <th class="narrow"><%=link_to("Endable", :controller=>"labs",:action=>"index", :sort_by=>"endable", :dir=>@dir)%></th>
        <th class="narrow" ><%=link_to("Start vms", labs_path+'?sort_by=startAll&dir='+@dir, :title=> 'starting the lab will start all machines')%></th>
        <th class="narrow" ><%=link_to("Manage vms by one", labs_path+'?sort_by=vms_by_one&dir='+@dir, :title =>'vms can be started/stopped one-by-one')%></th>
        <th class="narrow"></th>
      </tr>
    </thead>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= lab.name %></td>
        <td class="marked"><%= lab.short_description %></td>
        <td><%= lab.host.name if lab.host %></td>
        <td><%= lab.restartable ? 'yes' : 'no' %></td>
        <td><%= lab.endable ? 'yes' : 'no' %></td>
        <td><%= lab.startAll ? 'yes' : 'no' %></td>
        <td><%= lab.vms_by_one ? 'yes' : 'no' %></td>
        <td class="narrow">
          <%= link_to 'View', lab,:class=> 'show-button button' %>
          <%= link_to 'Edit info', edit_lab_path(lab) ,:class=> 'edit-button button'%>
          <%= link_to 'Destroy', lab, :confirm => 'Are you sure?', :method => :delete,:class=> 'delete-button button' %>
        </td>
      </tr>
    <% end %>
  </table>
   <%= will_paginate @labs %><div class="page_info"><%= page_entries_info @labs %></div>
</div>
<br/>
<%= link_to 'New lab', new_lab_path, :class=>"add-button button"  %>