<%if @labs!=[] then%>

<% content_for :sidebar do %> 
  <% @labs.each do |lab| %>
    <% classes="" #default
       classes= "bold" if lab.id==@lab.id %>
      <%if lab==@started.first then%>
      <li>Started</li>
      <% end 
         if lab==@not_started.first then%>
      <li>Not started</li>
      <% end  
         if lab==@complete.first then%>
      <li>Completed</li>
      <%end%>
      <li class="<%= classes %>">
      <%= link_to(lab.name, :controller=>'labs', :action=>'labs', :id=>lab.id)%>
    </li>
  <% end %>
<%end%>  

<% content_for :sidebar_head do %>
  My labs
<%end%>


<h1><%=@lab.name %></h1>

<div class="marked">
  <%=link_M @lab.description %>
</div>

<p>
  <% if @labs!=[] then%>
    <%= link_to('Start lab',start_lab_path+"/"+@lab.id.to_s, :class=>'submit-button button') if @lab_user==nil %>
    <%if @lab_user!=nil then%>
      <!-- started at: <%#=@lab_user.start%><br/>
          ended at: <%#=@lab_user.end%><br/>-->
    <script>
      function update(){ 
        //temporarily disable the lab_user automatic updating, because it's not really used
        //$.get('/lab_users/progress/'+<%=@lab_user.id%>, function(data) {
        //  $('#updated_progress').html(data);
        //});
        <% if @lab_user.end==nil then %>
          <%@vms.each do |vm| %>
            <%if vm.state=="running" || vm.state=="paused" then%>
              $.get('/vms/get_progress/'+<%=vm.id%>, function(data) {
              $('#vm_progress<%=vm.id%>').html(data);});
            <%end%>
         <%end%>
        <%end%>
      }
      $(document).ready(function($){
        window.setInterval('update()', 15*1000);
      });
    </script>
    <div id="updated_progress"><%= render :partial => 'shared/lab_progress' %></div>
    <%if @lab_user.result!=nil then %> result: <%= @lab_user.result%>    <br/><%end%>
      
    <%if @lab_user.end==nil then %>
      <h3>Virtual machines</h3>
      <%= "There are no machines allocated for this lab" if @vms.empty?%>
      <% @vms.each do |vm| %>
        <p>
        <%state=vm.state 
          desc="Initialize the virtual machine #{vm.name} by clicking <strong>Start</strong>."
          desc=vm.description if (state=="running" || state=="paused") && vm.mac!=nil%>
        <span class="button info-button" onclick="shownotice('<%=desc%>');">
          <%=vm.name%>
          <%if vm.mac!=nil && state=="running"%>,
            RDP info: elab.itcollege.ee:10<%=vm.mac.ip.split('.').last if vm.mac!=nil%>,
            user: <%=current_user.username%>,
            pwd: <%=vm.password%>
          <%end%>
        </span> 
        <%if state=="running" && vm.mac!=nil && vm.lab_vmt.vmt.shellinabox then %>
          <a href="https://<%= request.host if vm.mac!=nil%>:8<%= vm.mac.ip.split('.').last %>" title="Login" target='_blank' class="button login-button">Login</a>
        <%end%>

        
        <span class="loader">
          <%= link_to('Start',start_vm_path+"/"+vm.id.to_s, :class=>"button start-button") if (state!="running" && state!="paused") || vm.mac==nil%>
          <%= link_to('Pause', pause_vm_path+"/"+vm.id.to_s, :class=>'button pause-button') if state=="running" && vm.mac!=nil %>
          <%= link_to('Resume',resume_vm_path+"/"+vm.id.to_s, :class=>'button start-button') if state=="paused" && vm.mac!=nil%>
          <%= link_to('Stop',stop_vm_path+"/"+vm.id.to_s, :class=>"button stop-button") if state=="running" && vm.mac!=nil%>
        </span>
    
        <span class="vm_links">
          <%="("+state+")" if vm.mac!=nil && (state=="running" || state=="paused") %>
        </span><br/>
      </p>
      <div id="vm_progress<%=vm.id%>">
        <%if state=="running" || state=="paused" then%>
          <h3>Progress:</h3>
          <%=vm.progress%>
        <%end%>
      </div>
     
    <%end%>
  <%end%>
  <p class="loader">
    <%= link_to('Start all machines',start_all_path+"/"+@lab.id.to_s, :class=>"button start-button") if @lab_user.end==nil && !@vms.empty? %>
  </p>    
    

    
      <%= link_to('Restart lab',restart_lab_path+"/"+@lab.id.to_s, :class=>'add-button button', :confirm => "This will delete all saved data. Are you sure?") if @lab_user.start %> 
      <%= link_to('End lab', end_lab_path+"/"+@lab_user.id.to_s, :class=>'delete-button button', :confirm => "This will delete all saved data. Are you sure?" ) unless @lab_user.end  %>
    <%end%>
  <%end%>
  <%else%>
    <h3>You currently don't have any labs assigned.</h3>
  <%end%>
</p>

