<%if @labs!=[] %>

<% content_for :sidebar do %> 
  <% @labs.each do |lab| %>
    <% classes="" #default
       classes= "bold" if lab.id==@lab.id %>
      <%if lab==@started.first %>
      <li class="upper">Started</li>
      <% end 
         if lab==@not_started.first %>
      <li class="upper">Not started</li>
      <% end  
         if lab==@complete.first %>
      <li class="upper">Completed</li>
      <%end%>
      <li class="<%= classes %>">
      <%= link_to(lab.name, :controller=>'labs', :action=>'labs', :id=>lab.id)%>
    </li>
  <% end %>
<%end%>  

<% content_for :sidebar_head do %>
  <% if @user!=current_user %>
    <b><u><%= @user.username %></u> labs</b>
  <% else %>
    <b>My labs</b>
  <% end %>
<%end%>


<h1><%=@lab.name %></h1>

<div class="marked">
  <%=link_M @lab.description %>
</div>


  <% if @labs!=[] %>
    <%= link_to('Start lab',start_lab_path+"/"+@lab.id.to_s+(@admin && params[:username] ? "/#{params[:username]}" : "" ), :class=>'submit-button button') if @lab_user.start==nil %>
    <%if @lab_user.start!=nil %>
      <!-- started at: <%#=@lab_user.start%><br/>
          ended at: <%#=@lab_user.end%><br/>-->
    <script>
      /*
      function update(){ 
        //temporarily disable the lab_user automatic updating, because it's not really used
        //$.get('/lab_users/progress/'+<%#=@lab_user.id%>, function(data) {
        //  $('#updated_progress').html(data);
        //});
        <%# if @lab_user.end==nil %>
          <%# @lab_user.vms.each do |vm| %>
            <%#if vm.state=="running" || vm.state=="paused" %>
              $.get('/vms/get_progress/'+<%#=vm.id%>, function(data) {
              $('#vm_progress<%#=vm.id%>').html(data);});
            <%#end%>
         <%#end%>
        <#%end%>
      }
      $(document).ready(function($){
        window.setInterval('update()', 15*1000);
      });*/
    </script>
    <div id="updated_progress"><%= render :partial => 'shared/lab_progress' %></div>
    <%if @lab_user.result %> result: <%= @lab_user.result%>    <br/><%end%>
      
    <%if @lab_user.end==nil  %>
      <h3>Virtual machines</h3>
      <%= "There are no machines allocated for this lab" if @lab_user.vms.empty? %>
      <% @lab_user.vms.each do |vm| %>
        <%state=vm.state 
          desc="Initialize the virtual machine #{vm.lab_vmt.nickname} by clicking <strong>Start</strong>"
           desc="There is no remote desktop access for #{vm.lab_vmt.nickname}" if (state=="running" || state=="paused") && !vm.lab_vmt.allow_remote
           desc=vm.description if (state=="running" || state=="paused") && vm.mac!=nil && vm.lab_vmt.allow_remote %>
        <div class="vm_s">
          <div class="right loader">
            <%= link_to('Start',start_vm_path+"/"+vm.id.to_s, :class=>"button start-button") if (state!="running" && state!="paused") || vm.mac==nil%>
            <%= link_to('Pause', pause_vm_path+"/"+vm.id.to_s, :class=>'button pause-button') if state=="running" && vm.mac!=nil %>
            <%= link_to('Resume',resume_vm_path+"/"+vm.id.to_s, :class=>'button start-button') if state=="paused" && vm.mac!=nil%>
            <%= link_to('Stop',stop_vm_path+"/"+vm.id.to_s, :class=>"button stop-button") if state=="running" && vm.mac!=nil%>

            <%if state=="running" && vm.mac!=nil && vm.lab_vmt.vmt.shellinabox  %>
                <a href="https://<%= request.host if vm.mac!=nil%>:8<%= vm.mac.ip.split('.').last %>" title="Login" target='_blank' class="button login-button">Login</a>
            <%end%>
          </div>
          <% if vm.lab_vmt.allow_remote && state=="running" %>
            <div class="remote_connections right clearr" style="text-align:right;">
                <span class="button win-button" onclick="show_remote(this, '<%=vm.remote('win')%>')">Windows</span>
                <span class="button rdesktop-button" onclick="show_remote(this, '<%=vm.remote('rdesktop')%>')">Linux (rdesktop)</span>
                <span class="button xfreerdp-button" onclick="show_remote(this, '<%=vm.remote('xfreerdp')%>')">Linux (xfreerdp)</span>
              <div escape="false" class="remote">Choose a remote connection type from above</div>
            </div>
          <% end %>
          <b><%=vm.lab_vmt.nickname%></b>
          <span class="vm_links"><%="("+state+")" if vm.mac!=nil && (state=="running" || state=="paused") %></span>
          <%if vm.mac!=nil && state=="running" && vm.lab_vmt.allow_remote %><br/>
            <b>RDP info:</b> <%= ITee::Application.config.rdp_host %>:10<%=vm.mac.ip.split('.').last if vm.mac!=nil%><br/>
            <b>user:</b> <%= @lab_user.user.username %><br/>
            <b>pwd:</b> <%= vm.password %>
          <%end%>


      </div>
      <div id="vm_progress<%=vm.id%>">
        <%if state=="running" || state=="paused" %>
          <%=vm.progress%>
        <%end%>
      </div>
     
    <%end%>
  <%end%>
  <p class="loader">
    <%= link_to('Start all machines',start_all_path+"/"+@lab.id.to_s, :class=>"button start-button") if @lab_user.end==nil && !@lab_user.vms.empty? %>
  </p>    
    

    
      <%= link_to('Restart lab',restart_lab_path+"/"+@lab.id.to_s+(@admin && params[:username] ? "/#{params[:username]}" : "" ), :class=>'add-button button', :confirm => "This will delete all saved data. Are you sure?") if @lab_user.start %> 
      <%= link_to('End lab', end_lab_path+"/"+@lab_user.id.to_s, :class=>'delete-button button', :confirm => "This will delete all saved data. Are you sure?" ) unless @lab_user.end  %>
    <%end%>
  <%end%>
  <%else%>
    <h3>You currently don't have any labs assigned.</h3>
  <%end%>


