<%if @lab==nil%>
<h4>Sorry, you dont have any such courses</h4>
  <%else%>
  <h1><%=@lab.name%></h1>
 
    <%=link_M raw @lab.description%>
    <br/>
    
    <!-- started at: <%#=@lab_user.start%>
        <br/>
    ended at: <%#=@lab_user.end%>
    <br/>-->
    <%if @lab_user.progress!=nil then %> progress: <%= @lab_user.progress%>
    <br/><%end%>
    <%if @lab_user.result!=nil then %> result: <%= @lab_user.result%>
    <br/><%end%>
    
    
<%if @lab_user.end==nil then %>
<h3>Virtual machines</h3><p>
<% @vms.each do |vm| %>
<%state=vm.state %>
<span class="button info-button" onclick="$('#notice').html('<%=vm.description%>');$('#notice').show(); ">
<%=vm.name%><%if vm.mac!=nil && state=="running"%>, IP <%=vm.mac.ip if vm.mac!=nil%><%end%>
</span> 


 <%if state=="running" && vm.mac!=nil then%>
   <a href="https://<%=vm.mac.ip if vm.mac!=nil%>:4200" title="Login" target='_blank' class="button login-button">Login</a>
    <%end%>

 <span class="loader">
    <%= link_to('Start',start_vm_path+"/"+vm.id.to_s, :class=>"button start-button") if state!="running" && state!="paused"%>
    <%= link_to('Pause', pause_vm_path+"/"+vm.id.to_s, :class=>'button pause-button') if state=="running" && vm.mac!=nil %>
    <%= link_to('Resume',resume_vm_path+"/"+vm.id.to_s, :class=>'button start-button') if state=="paused" && vm.mac!=nil%>
    <%= link_to('Stop',stop_vm_path+"/"+vm.id.to_s, :class=>"button stop-button") if state=="running" && vm.mac!=nil%>
  </span>
    
<span class="vm_links">(<%=state if && vm.mac!=nil%>) </span>
<br/>   
    
<%end%>
</p> 
<%end%>

<br/>
    <table width="100%">
      <tr>
        <td><%= link_to('Restart',restart_lab_path+"/"+@lab.id.to_s, :class=>'add-button button')%> </td>
        <td><%= link_to('End lab', end_lab_path+"/"+@lab_user.id.to_s, :class=>'delete-button button') if @lab_user.end==nil  %> </td>
      </tr>
    </table>
    


<% content_for :sidebar_head do %>
 <%if @lab_user.end==nil then%>
      Running
      <%else%>
  Completed
  <%end%> labs
  <%end%>

<% content_for :sidebar do %>
  <%#TODO mingi parameetri järgi peab tegema kinldaks, mis menüü siia esitada%>
<% @other.each do |l| %>
  <li>
  <%if @lab_user.end==nil then%>
      <%=link_to(l.name, running_courses_path+"/"+l.id.to_s) %>
      <%else%>
  <%=link_to(l.name, ended_courses_path+"/"+l.id.to_s) %>
  <%end%></li>  
<%end%>

 
<%end%>
<%end%>

