<%if @lab==nil%>
  <h4>Sorry, you dont have any such labs</h4>
<%else%>

  <h1><%=@lab.name%></h1>
 
  <div class="marked">
    <%=link_M @lab.description%>
  </div>
    
  <!-- started at: <%#=@lab_user.start%><br/>
    ended at: <%#=@lab_user.end%><br/>-->
    <script>
      function update(){ 
        //temporarily disable the lab_user automatic updating, because it's not really used
        //$.get('/lab_users/progress/'+<%=@lab_user.id%>, function(data) {
        //  $('#updated_progress').html(data);
        //});
        <% if @lab_user.end==nil then %>
          <%@vms.each do |vm| %>
            <%if vm.state=="running" || vm.state=="paused" then%>
              $.get('/vms/get_progress/'+<%=vm.id%>, function(data) {
              $('#vm_progress<%=vm.id%>').html(data);});
            <%end%>
         <%end%>
        <%end%>
      }
      $(document).ready(function($){
        window.setInterval('update()', 15*1000);
      });
    </script>
    <div id="updated_progress"><%= render :partial => 'shared/lab_progress' %></div>
  <%if @lab_user.result!=nil then %> result: <%= @lab_user.result%>    <br/><%end%>
      
  <%if @lab_user.end==nil then %>
    <h3>Virtual machines</h3>
    <% @vms.each do |vm| %>
      <p>
        <%state=vm.state %>
        <% desc="Initialize the virtual machine by clicking <strong>Start</strong>."
        desc=vm.description if (state=="running" || state=="paused") && vm.mac!=nil%>
        <span class="button info-button" onclick="shownotice('<%=desc%>');">
          <%=vm.name%>
          <%if vm.mac!=nil && state=="running"%>,
            IP <%=vm.mac.ip if vm.mac!=nil%>,
            PW: <%=vm.password%>
          <%end%>
        </span> 
        <%if state=="running" && vm.mac!=nil && vm.lab_vmt.vmt.shellinabox then %>
          <a href="https://<%=vm.mac.ip if vm.mac!=nil%>:4200" title="Login" target='_blank' class="button login-button">Login</a>
        <%end%>

        <span class="loader">
          <%= link_to('Start',start_vm_path+"/"+vm.id.to_s, :class=>"button start-button") if (state!="running" && state!="paused") || vm.mac==nil%>
          <%= link_to('Pause', pause_vm_path+"/"+vm.id.to_s, :class=>'button pause-button') if state=="running" && vm.mac!=nil %>
          <%= link_to('Resume',resume_vm_path+"/"+vm.id.to_s, :class=>'button start-button') if state=="paused" && vm.mac!=nil%>
          <%= link_to('Stop',stop_vm_path+"/"+vm.id.to_s, :class=>"button stop-button") if state=="running" && vm.mac!=nil%>
        </span>
    
        <span class="vm_links">
          <%="("+state+")" if vm.mac!=nil && (state=="running" || state=="paused") %>
        </span><br/>
      </p>
      <div id="vm_progress<%=vm.id%>">
        <%if state=="running" || state=="paused" then%>
          <h3>Progress:</h3>
          <%=vm.progress%>
        <%end%>
      </div>
     
    <%end%>
  <%end%>
  <p class="loader">
    <%= link_to('Start all machines',start_all_path+"/"+@lab.id.to_s, :class=>"button start-button") if @lab_user.end==nil %>
  </p>
  <table width="100%">
    <tr>
      <td><%= link_to('Restart lab',restart_lab_path+"/"+@lab.id.to_s, :class=>'add-button button', :confirm => "This will delete all saved data. Are you sure?")%> </td>
      <td><%= link_to('End lab', end_lab_path+"/"+@lab_user.id.to_s, :class=>'delete-button button', :confirm => "This will delete all saved data. Are you sure?" ) if @lab_user.end==nil  %> </td>
    </tr>
  </table>

  <% content_for :sidebar_head do %>
    <%if @lab_user.end==nil then%>
      Running
    <%else%>
      Completed
    <%end%> labs
  <%end%>


  <% content_for :sidebar do %>
    <% @other.each do |l| %>
      <li class="<%='bold' if l.id==@lab.id %>">
        <%if @lab_user.end==nil then%>
          <%=link_to(l.name, running_labs_path+"/"+l.id.to_s) %>
        <%else%>
          <%=link_to(l.name, completed_labs_path+"/"+l.id.to_s) %>
        <%end%>
      </li>  
    <%end%>
  <%end%>
<%end%>

