<%if @lab==nil%>
  <p>Sorry, you dont have any such courses</p>
  <%else%>
<h3>Running lab: <%=@lab.name%></h3>
 
    <%=link_M raw @lab.description%>
    <br/>
   
    started at: <%=@lab_user.start%>
        <br/>
    ended at: <%=@lab_user.end%>
    <br/>
    progress: <%= @lab_user.progress%>
    <br/>
     result: <%= @lab_user.result%>
    <br/>
    
    
<%if @lab_user.end==nil then %>
<% @vms.each do |vm| %>
  <p><%=link_to(vm.name, :controller=>'vms', :action=>'show', :id=>vm.id) %> 
  <%state=vm.state %>
  <%if state=="running" || state=="paused" then%>
    (<%=state%>, IP <%=vm.mac.ip if vm.mac!=nil%>) 
    <%= link_to('Pause',:controller=>'vms',:action=>'pause_vm', :id=>vm.id) if state=="running"  %>
    <%= link_to('Resume',:controller=>'vms', :action=>'resume_vm', :id=>vm.id) if state=="paused"%>
    <%= link_to('Stop',:controller=>'vms', :action=>'stop_vm', :id=>vm.id) if state=="running"%>
  <%end%>
    <%= link_to('Init',:controller=>'vms', :action=>'start_vm', :id=>vm.id) if state!="running" && state!="paused"%>
    
</p> 
<%end%>
<br/>
<p>start all </p>
<%end%>

<br/>
    <table width="100%">
      <tr>
        <td><%= link_to('Restart',restart_lab_path+"/"+@lab.id.to_s, :class=>'add-button button')%> </td>
        <td><%= link_to('End lab', end_lab_path+"/"+@lab_user.id.to_s, :class=>'delete-button button') if @lab_user.end==nil  %> </td>
      </tr>
    </table>
    


<% content_for :sidebar_head do %>
 <%if @lab_user.end==nil then%>
      Running
      <%else%>
  Ended
  <%end%> courses
  <%end%>

<% content_for :sidebar do %>
  <%#TODO mingi parameetri järgi peab tegema kinldaks, mis menüü siia esitada%>
<% @other.each do |l| %>
  <li>
  <%if @lab_user.end==nil then%>
      <%=link_to(l.name, running_courses_path+"/"+l.id.to_s) %>
      <%else%>
  <%=link_to(l.name, ended_courses_path+"/"+l.id.to_s) %>
  <%end%></li>  
<%end%>

 
<%end%>
<%end%>

