<p>
  <b>Name:</b>
  <%= @lab.name %>
</p>

<p>
  <b>Description:</b>
  <%=link_M raw @lab.description %>
  
</p>
<br/>

<table>
  <thead>
    <tr> 
      <th>Machines</th>
    </tr>  
</thead>
<tr>
<td><% @lab.lab_vmts.each do |vmt| %>
  <p><%=link_to(vmt.name, :controller=>'vmts', :action=>'show', :id=>vmt.vmt, :lab=>@lab)%>
  
 <%= link_to("remove", vmt, :method=>:delete)%>
</p> 
<%end%>
<br/>
<p><%=link_to 'Add VMTs', lab_vmts_path+"?lab="+@lab.id.to_s, :class=> 'add-button button' %></p></td>
</tr>
</table>
