<% content_for :sidebar_head do %>
  Labs
<% end %>


<% content_for :sidebar do %>
    <li><%= link_to 'Edit', edit_lab_path(@lab) %></li>
    <li><%= link_to 'Back', labs_path %></li>
<% end %>

<% content_for :body do %>
<div class="text-box round">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lab.name %>
</p>

<p>
  <b>Description:</b>
  <%= @lab.description %>
</p>
</div>
<%end%>