<%if @labs!=[] %>

<% content_for :sidebar do %>
        <ul>
        <% if @started!=[] %>
          <li class="upper">Started</li>
          <% @started.each do |lab| %>
            <% classes='' #default
               classes= 'current_lab' if lab.id==@lab.id %>
            <li class="<%= classes %>">
              <%= link_to(lab.name, :controller=>'labs', :action=>'user_labs', :id=>lab.id)%>
            </li>
          <% end %>
        <% end %>
        <% if @not_started!=[] %>
          <li class="upper">Not started</li>
          <% @not_started.each do |lab| %>
            <% classes='' #default
               classes= 'current_lab' if lab.id==@lab.id %>
            <li class="<%= classes %>">
              <%= link_to(lab.name, :controller=>'labs', :action=>'user_labs', :id=>lab.id)%>
            </li>
          <% end %>
        <% end %>
        <% if @complete!=[] %>
          <li class="upper">Completed</li>
          <% @complete.each do |lab| %>
            <% classes='' #default
               classes= 'current_lab' if lab.id==@lab.id %>
            <li class="<%= classes %>">
              <%= link_to(lab.name, :controller=>'labs', :action=>'user_labs', :id=>lab.id)%>
            </li>
          <% end %>
        <% end %>
        
        </ul>
<%end%>  

<% content_for :sidebar_head do %>
  <% if @user!=current_user %>
    <b><%= @user.username %></b> labs
  <% else %>
    My labs
  <% end %>
<%end%>


<h1><%=@lab.name %></h1>

<div class="marked">
  <%= link_m @lab.description %>
</div>


  <% if @labs!=[] %>
        <div class="manage_lab loader">
            <%= link_to('Start lab', start_lab_path+'/'+@lab.id.to_s+(@admin && params[:username] ? "/#{params[:username]}" : '' ), :class=>'button submit-button sl-button') unless @lab_user.start %>
        </div>
    <% if @lab_user.start %>
      <!-- started at: <%#=@lab_user.start%><br/>
          ended at: <%#=@lab_user.end%><br/>-->
    <%if !@lab_user.end  %>
                <div>
      <h3>Virtual machines</h3>
      <%= 'There are no machines allocated for this lab' if @lab_user.vms.count==0 %>
      <% @lab_user.vms_view.each do |vm| %>
        <%state=vm.state 
          desc="Initialize the virtual machine #{vm.lab_vmt.nickname} by clicking <strong>Start</strong>"
           desc="There is no remote desktop access for #{vm.lab_vmt.nickname}" if (state=='running' || state=='paused') && !vm.lab_vmt.allow_remote
           desc=vm.description if (state=='running' || state=='paused') && vm.mac!=nil && vm.lab_vmt.allow_remote %>
        <table class="vm_s">
          <tr>

            <td class="narrow" >
          <b><%=vm.lab_vmt.nickname ? vm.lab_vmt.nickname : vm.name %></b>
          <span class="vm_links"><%= '('+state+')' if vm.mac!=nil && (state=='running' || state=='paused') %></span>
          <%if vm.mac!=nil && state=='running' && vm.lab_vmt.allow_remote %><br/>
            <b>RDP info:</b> <%= ITee::Application.config.rdp_host %>:10<%=vm.mac.ip.split('.').last if vm.mac!=nil%><br/>
            <b>user:</b> <%= @lab_user.user.username %><br/>
            <b>pwd:</b> <%= vm.password %>
          <%end%>
            </td>

            <td style="text-align:right;">
              <% if @lab.vms_by_one %>
                <div class=" loader" ><%= link_to('Start', start_vm_path+'/'+vm.id.to_s, :class=> 'button start-button') if (state!='running' && state!='paused') || vm.mac==nil%>
                <%= link_to('Pause', pause_vm_path+'/'+vm.id.to_s, :class=>'button pause-button') if state=='running' && vm.mac!=nil && vm.lab_vmt.allow_restart %>
                <%= link_to('Resume', resume_vm_path+'/'+vm.id.to_s, :class=>'button start-button') if state=='paused' && vm.mac!=nil%>
                <%= link_to('Stop', stop_vm_path+'/'+vm.id.to_s, :class=> 'button stop-button') if state=='running' && vm.mac!=nil && vm.lab_vmt.allow_restart %>
              <% end %>
              <%= link_to('Reset RDP', rdp_reset_path+'/'+vm.id.to_s, :class=>'button start-button') if state=='running' && vm.mac!=nil && vm.lab_vmt.allow_remote %>
              </div>
            <% if vm.lab_vmt.allow_remote && state=='running' %>
                <div class="remote_connections">
                    <span onclick="toggleOtherOsButtons(this)" class="showtoggle">&lt; more</span>
                    <span class="button win-button Windows" onclick="show_remote(this, '<strong><%=vm.remote('win', cookies['resolution'])%></strong>')">Windows</span>
                    <span class="button mac-button MacOS" onclick="show_remote(this, '<strong><%=vm.remote('mac',cookies['resolution'])%></strong>')">Mac</span>
                    <span class="button rdesktop-button Linux UNIX" onclick="show_remote(this, '<strong><%=vm.remote('rdesktop',cookies['resolution'])%></strong>')">Linux (rdesktop)</span>
                    <span class="button xfreerdp-button Linux UNIX" onclick="show_remote(this, '<strong><%=vm.remote('xfreerdp',cookies['resolution'])%></strong>')">Linux (xfreerdp)</span>
                    <%unless vm.lab_vmt.guacamole_type=='none'%>
                      <%=link_to 'open in browser', open_guacamole_path+"/#{vm.id}", target: '_blank', class: 'button Linux UNIX MacOS Windows' %>
                    <%end # guacamole allowed%>
                  <div escape="false" class="remote copyMe">
                    <div class="parentheight hidden"><div class="helptext ">Click to copy</div></div>
                    <div class="commands copy">Choose a remote connection type from above</div>
                  </div>
                </div>
            <% end %>
            </td>
          </tr>
      </table>

    <%end # foreach %>
    </div>
  <%end #has vms%>
<div class="manage_lab">
    <% if !@lab_user.end && @lab_user.vms.count>0 %>
        <span class="loader">
          <%= link_to('Start all',start_all_path+'/'+@lab.id.to_s+(@admin && params[:username] ? "/#{params[:username]}" : ''),
                      :class=> 'button start-button sl-button')  %>
        </span>
         <span class="loader">
          <%= link_to('Stop all',stop_all_path+'/'+@lab.id.to_s+(@admin && params[:username] ? "/#{params[:username]}" : ''),
                      :class=> 'button stop-button sl-button')  %>
        </span>
    <% end %>
    <% if @lab_user.start && @lab.restartable %>
        <span class="loader">
          <%= link_to('Restart lab',restart_lab_path+'/'+@lab.id.to_s+(@admin && params[:username] ? "/#{params[:username]}" : ''),
                      :class=>'add-button button rl-button',
                      :confirm => 'This will delete all saved data. Are you sure?') %>
        </span>
    <%end%>
    <% unless  @lab_user.end  || !@lab.endable %>
        <span class="loader">
          <%= link_to('End lab', end_lab_path+'/'+@lab_user.id.to_s,
                      :class=>'delete-button button el-button',
                      :confirm => 'This will delete all saved data. Are you sure?')   %>
        </span>
    <%end%>
</div>
    <%end%>
  <%end%>
  <%else%>
    <h3>You currently don't have any labs assigned.</h3>
  <%end%>


