<!DOCTYPE html>
<html>
<head>
  <title>ITee</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
  <div id="header">
    <div id="header-bar">
      <div id="name" class="column span-10">
        <% if user_signed_in? %>
          Welcome, <%= current_user.username %>
        <% elsif @logged_in %>
          Welcome, <%=  @username %>
        <% end %>
      </div>

      <div id="control" class="column span-11">
        <ul>
          <li><a href="" class="profile">User Profile</a></li>
          <li><a href="" class="settings">Settings</a></li>
        </ul>
      </div>

      <div id="logout" class="column span-3">
          <% if user_signed_in? %>
            <span id="logout-button"><%= link_to "Sign out", destroy_user_session_path %></span>
            <% elsif @logged_in %>
            <span id="logout-button"><%= link_to "Sign out", destroy_user_session_path %></span>
          <% end %>

      </div>
    </div>

    <div id="menu">
      <ul>
        <li <% if params[:controller] == "hosts"%> class="selected" <% end %>><%= link_to('Hosts', :controller=>'hosts', :action=>'index')%></li>
        <li <% if params[:controller] == "labs"%> class="selected" <% end %>><%= link_to('Labs', :controller=>'labs', :action=>'index')%></li>
        <li <% if params[:controller] == "materials"%> class="selected" <% end %>><%= link_to('Materials', :controller=>'materials', :action=>'index')%></li>
        <li <% if params[:controller] == "vms"%> class="selected" <% end %>><%= link_to('Vms', :controller=>'vms', :action=>'index')%></li>
      </ul>
    </div>
  </div>

  <div id="body">
    <div id="left">
      <div id="sidemenu">
        <div id="menu-hide"></div>
          <div id="menu-head-wrap">
            <div id="menu-head"><%= yield :sidebar_head %></div>
          </div>
          <div id="menu-items">
            <ul>
              <%= yield :sidebar %>
            </ul>
          </div>
      </div>
    </div>
    <div id="right" >
      <div id="menu-show"></div>
            <%= yield :body %>
    </div> 
  </div> 
</div> 

<div id="footer">
	i-Tee, 2010
</div>

</body>
</html>