<!DOCTYPE html>
<html>
  <head>
    <title>ITee</title>
    <%= stylesheet_link_tag 'reset', :cache=>true %>
    <%# stylesheet_link_tag "../javascripts/prettify/sons-of-obsidian", :cache=>true %>
    <%= stylesheet_link_tag 'EIK' %>
    <%= stylesheet_link_tag 'prettify' %>
    <%= javascript_include_tag :all, :cache=>true %>
    <%# javascript_include_tag "Marked/lib/marked", :cache=>true %>
    <%#= javascript_include_tag "prettify/prettify", :cache=>true %>
    <%#= javascript_include_tag "prettify/run_prettify", :cache=>true %>
  
    <%= csrf_meta_tag %>
    <link  href="//fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
    <%= yield :javascript %> 
  </head>
  <body>
    <div id="contain">
      <div id="right">
        <div id="top"><%=link_to 'I-Tee', root_path%></div>
        <div id="m_menu">
          <%if user_signed_in?%>  
            <div class="hb b_menu <% if @tab== 'home' %>current_tab<% end%>">
              <%=link_to 'Home', root_path%>
            </div>
            <div class="cb b_menu <% if @tab == 'courses' %>current_tab<% end%>">
              <%=link_to('Labs', my_labs_path)%>
            </div>
            <div class="vb b_menu <% if @tab == 'vms' %>current_tab<% end%>">
              <%=link_to 'My machines', vms_path %>
            </div>
            <%if  @admin   %>
              <div class="ab b_menu <% if @tab=='admin' %>current_tab<% end%>">
                <%=link_to 'Manage labs', labs_path %>
              </div>
            <%end%>
            <%if @manager || @admin  %>
              <div class="mb b_menu <%if @tab=='manager' %>current_tab<% end%>">
                <%=link_to 'Manage users', users_path %>
              </div>
              <div class="sb b_menu <%if @tab=='search' %>current_tab<% end%>">
                <%=link_to 'Search', search_path %>
              </div>
            <%end%>
            <div class="r_menu b_menu">
              <%# if user_signed_in? %>
              <%= link_to 'Sign out', destroy_user_session_path %>
              <%# elsif @logged_in %>
              <%#= link_to "Sign out", destroy_user_session_path %>
              <%# end %>
            </div>
             <div class="r_menu b_menu <%if @tab=='user' %>current_tab<% end%>">
              <%# if user_signed_in? %>
              <%= link_to current_user.name ? current_user.name : current_user.username, current_user %>
              <%# elsif @logged_in %>
              <%#= link_to "Sign out", destroy_user_session_path %>
              <%# end %>
            </div>
          <%end%>
        </div>
   
        <div id="s_menu"></div>
        <div id="wrap">
          <div class="home s_menu <% if @tab == 'home' %>current_tab<% end%>">
            <%if @admin %>
              <%=link_to_unless_current('Index', root_path)%>
              <%=link_to_unless_current('Template guide', template_path) %>
              <%=link_to_unless_current('System guide', system_path) %>  
            <%end%>
          </div>
          <div class="course s_menu <% if @tab == 'courses' %>current_tab<% end%>"></div>
          <div class="vms s_menu <% if @tab== 'vms' %>current_tab<% end%>">
            <%= link_to_unless_current 'All virtual machines', vms_path %>
            <%= link_to_unless_current('Virtual machines by state', vms_by_state_path) %>
            <%= link_to_unless_current('Virtual machines by lab', vms_by_lab_path) %>
          </div>
          <div class="course s_menu <% if @tab == 'user' %>current_tab<% end%>"> </div>
          <%if  @admin   %>
            <div class="admin s_menu <% if @tab=='admin' %>current_tab<% end%>">
              <table>
                <tr>
                  <td>
                    <%= link_to_unless_current 'Labs', labs_path %><br/>
                    <%= link_to_unless_current 'Materials', materials_path %>
                  </td>
                  <td>
                    <%= link_to_unless_current 'Virtual machines', vms_path+'?admin=1' %><br/>
                    <%= link_to_unless_current('VMs by state', vms_by_state_path+'?admin=1') %><br/>
                    <%= link_to_unless_current('VMs by lab', vms_by_lab_path+'?admin=1') %>
                  </td>
                  <td>
                    <%= link_to_unless_current 'VM templates', vmts_path %><br/>
                    <%= link_to_unless_current 'VM templates in labs', lab_vmts_path %>
                  </td>
                  <td>
                    <%= link_to_unless_current 'Network templates', networks_path %><br/>
                    <%= link_to_unless_current 'VMTs networks in labs', lab_vmt_networks_path %>
                  </td>
                  <td>
                    <%= link_to_unless_current('Hosts', hosts_path) %><br/>
                    <%= link_to_unless_current('Operating systems', operating_systems_path) %>
                  </td>
                   <td>
                    <%= link_to_unless_current('Badges', badges_path) %><br/>
                    <%= link_to_unless_current 'Lab badges', lab_badges_path %><br/>
                    <%= link_to_unless_current('User badges', user_badges_path) %><br/>
                  </td>
                </tr>
              </table>
            </div>
          <%end%>
          <% if @manager || @admin %>
            <div class="manager s_menu <% if @tab=='manager' %>current_tab<% end%>">
              <table>
                <tr>
                  <td>
                    <%=link_to 'Users', users_path %><br/>
                    <%=link_to 'New user', new_user_path%>
                  </td>
                  <td>
                    <%= link_to_unless_current 'Manage user tokens',  manage_tokens_path %>
                  </td>
                  <td>
                    <%=link_to_unless_current 'Users in labs', lab_users_path%><br/>
                    <%=link_to_unless_current 'Add users by lab', add_users_path%>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
          <div id="c_wrap">
            <div id="sidemenu">
              <div id="menu-hide"></div>
              <div id="menu-head"><%= yield :sidebar_head %></div>

                <%= yield :sidebar %>

            </div>
        
            <div id="content" >
              <div id="menu-show"></div>
              <div id="messages">
              <%= content_tag(:div, flash[:error], :id => 'flash_error', :escape=>false) if flash[:error] %>
              <%= content_tag(:div, flash[:notice], :id => 'flash_notice', :escape=>false) if flash[:notice] %>
              <%= content_tag(:div, flash[:alert], :id => 'flash_alert', :escape=>false) if flash[:alert] %>
              </div>
              
              <%= yield  %>
             
            </div>
          </div>
        </div>
      </div>
      <div id="footer"><%= link_to('i-Tee 2011', about_path)%></div>
    </div>
    <div id="loading"></div>
  </body>
</html>