<!DOCTYPE html>
<html>
<head>
  <title>ITee</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag :ckeditor %>
  
  <%= csrf_meta_tag %>
</head>

<%= yield :javascript %> 

<body>

<div id="container">
  <div id="header">
    <div id="header-bar">
      <div id="name" class="column span-10">
        <% if user_signed_in? %>
          You are logged in as <%= current_user.username %>
        <% elsif @logged_in %>
          You are logged in as <%=  @username %>
        <% end %>
      </div>

      <div id="control" class="column span-11">
        <ul><% if user_signed_in? %>
          <li><%=link_to("User profile", profile_path, :class=> 'profile')%></li>
          <li><%=link_to("Settings", edit_user_registration_path, :class=> 'settings')%></li>
          <% end %>
        </ul>
      </div>

      <div id="logout" class="column span-3">
          <% if user_signed_in? %>
            <span id="logout-button"><%= link_to "Sign out", destroy_user_session_path %></span>
            <% elsif @logged_in %>
            <span id="logout-button"><%= link_to "Sign out", destroy_user_session_path %></span>
          <% end %>

      </div>
    </div>

    <div id="menu">
      <ul>
        <% if user_signed_in? %>
          <li<% if params[:controller] == "home"%> class="selected" <% end %>><%= link_to('Home', root_path)%></li>
          <li<% if params[:controller] == "labs"%> class="selected" <% end %>><%= link_to('Courses', courses_path)%></li>
          
           <% if !@admin then %>
          <li<% if params[:controller] == "vms"%> class="selected" <% end %>><%= link_to('My machines', vms_path)%></li>
            <%end%>
          <% if @admin then %>
          <li<% if params[:controller] == "labs"%> class="selected" <% end %>><%= link_to('Labs', labs_path)%></li>
          <li<% if params[:controller] == "materials"%> class="selected" <% end %>><%= link_to('Materials', materials_path)%></li>
          <li<% if params[:controller] == "lab_materials"%> class="selected" <% end %>><%# link_to('Lab_materials', :controller=>'lab_materials', :action=>'index')%></li>
          <li<% if params[:controller] == "vms"%> class="selected" <% end %>><%= link_to('Vms', vms_path)%></li>
          <li<% if params[:controller] == "vmts"%> class="selected" <% end %>><%= link_to('Vmts', vmts_path)%></li>
          <li<% if params[:controller] == "hosts"%> class="selected" <% end %>><%= link_to('Hosts', hosts_path)%></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="body">
  <%if user_signed_in?%>
    <div id="left">
      <div id="sidemenu">
        <div id="menu-hide"></div>
          <div id="menu-head-wrap">
            
            <div id="menu-head"><%= yield :sidebar_head %></div>
          </div>
          <div id="menu-items">
            <ul>
              <%= yield :sidebar %>
            </ul>
          </div>
      </div>
    </div>
    <% end %>
    <div id="right" >
      <div id="menu-show"></div>
            <%= yield :body %>
            <%if !user_signed_in?%>
            <%= yield %>
             <% end %>
    </div> 
  </div> 
</div> 

<div id="footer">
	i-Tee, 2010
</div>

</body>
</html>